.print { position: relative; width: 800px; margin-bottom: 25px; }
.print .button { cursor: pointer; background: none repeat scroll 0 0 #444444; border-radius: 3px 3px 3px 3px; color: #FFFFFF; padding: 3px 10px; position: absolute; right: 10px; top: 5px; }

  .print table { border: 1px solid grey; color: black; }
  .print table .center { text-align: center; }
  .print table caption { background: none repeat scroll 0 0 #DEDEDE; color: #000000; font-weight: bold; padding: 10px 10px 5px; text-align: left; }
  .print table th { padding: 5px 13px; border: 1px solid black;}
  .print table tr { border: 1px solid black; }
  .print table tr td { padding: 4px 5px; border: 1px solid black;}