@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
a:link, a:visited, a:active {
	text-decoration: none;
}
body {
	font-family: "Open Sans", sans-serif;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
#booking-wrap {
	width: 1135px;
	margin-right: auto;
	margin-left: auto;
}
#head {
	height: 102px;
	width: 1135px;
}
.head-logo-winterbergbus {
}
.head-logo-groupon {
	margin-top: 14px;
	margin-left: 14px;
	position: absolute;
	z-index: 1;
	width:350px;
    height:auto;
}
.head-logo-hema {
	margin-left: 14px;
	position: absolute;
	z-index: 1;
}
.head-txt {
	font-size: 12px;
	text-align: right;
	height: 60px;
	width: 1125px;
	padding-top: 10px;
	padding-right: 10px;
}
.head-txt ul li {
	display: inline;
	padding-right: 7px;
	padding-left: 7px;
	list-style-type: none;
}
.head-txt ul li a {
	color: #000;
}
#booking-line1 {
	clear: both;
	width: 100%;
	margin-bottom: 20px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000;
	border-bottom-color: #000;
	min-width: 1135px;
}
#booking-row1 {
	font-size: 21px;
	text-transform: uppercase;
	color: #CCC;
	text-align: center;
	width: 1135px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}
#booking-row1 ul li {
	display: inline;
	padding-right: 27px;
	list-style-type: none;
}
#booking-row1 ul li a {
	color: #CCC;
}
.step-blu {
	color: #4DC9FF;
}
.step-groupon {
	color: #53A318;
}
.step-bla {
	color: #000;
}
#booking-line2 {
	clear: both;
	width: 100%;
	min-width: 1135px;
}
#booking-row2 {
	width: 1135px;
	margin-right: auto;
	margin-left: auto;
}
.message-box {
	width: 490px;
	margin-bottom: 76px;
	margin-right: auto;
	margin-left: auto;
}
.colortop-blu {
	background-color: #4DC9FF;
	height: 12px;
	width: 490px;
}
.colortop-pur2 {
	background-color: #BC5AB0;
	height: 12px;
	width: 490px;
}
.colortop-ora {
	background-color: #FF8000;
	height: 12px;
	width: 490px;
}
.colortop-groupon {
	background-color: #53A318;
	height: 12px;
	width: 490px;
}
.colortop-hema {
	background-color: #E3191C;
	height: 12px;
	width: 490px;
}
.message-box-row1 {
	width: 440px;
	padding-right: 25px;
	padding-left: 25px;
}
.box-row-3 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	font-size: 60px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.box-row26 {
	text-transform: uppercase;
	width: 440px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	font-size: 26px;
	padding-top: 6px;
	padding-bottom: 6px;
}
.box-row14b {
	font-size: 14px;
	line-height: 21px;
	width: 440px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.box-row14-title {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	width: 440px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.box-row14b {
	font-size: 14px;
	line-height: 21px;
	width: 440px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	font-weight: bold;
}
.box-row14 {
	font-size: 14px;
	line-height: 21px;
	width: 440px;
	padding-top: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	padding-bottom: 9px;
}
.box-row14 a {
	font-weight: bold;
	color: #4DC9FF;
}
#foot-colortop {
	background-color: #4DC9FF;
	clear: both;
	height: 12px;
	width: 100%;
	min-width: 1135px;
}
#foot {
	background-color: #D8D8D8;
	clear: both;
	width: 100%;
	min-width: 1135px;
}
#foot-wrap {
	height: 268px;
	width: 1012px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 123px;
}
.foot-box {
	float: left;
	width: 222px;
}
.foot-box-txtt {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	padding-top: 22px;
}
.foot-box-link {
	font-size: 12px;
	line-height: 22px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	padding-top: 12px;
}
.foot-box-link a {
	color: #000;
}
.foot-box-social {
	padding-top: 14px;
}
.foot-box-social ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
#dagje-winterberg-bus {
	width: 100%;
	min-width: 1135px;
}
#dagje-winterbergen-bus {
	width: 1135px;
	margin-right: auto;
	margin-left: auto;
}
.busreis-winterberg {
	font-size: 13px;
	line-height: 18px;
	font-weight: 600;
	color: #000;
	text-align: center;
	width: 1135px;
	padding-top: 16px;
	padding-bottom: 16px;
}
