@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
a:link, a:visited, a:active {
	text-decoration: none;
}
body {
	font-family: "Open Sans", sans-serif;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
#booking-wrap {
	width: 1135px;
	margin-right: auto;
	margin-left: auto;
}
#head {
	height: 102px;
	width: 1135px;
}
.head-logo-winterbergbus {
}
.head-logo-groupon {
	margin-top: 14px;
	margin-left: 14px;
	position: absolute;
	z-index: 1;
}
.head-logo-hema {
	margin-left: 14px;
	position: absolute;
	z-index: 1;
}
.head-txt {
	font-size: 12px;
	text-align: right;
	height: 60px;
	width: 1125px;
	padding-top: 10px;
	padding-right: 10px;
}
.head-txt ul li {
	display: inline;
	padding-right: 7px;
	padding-left: 7px;
	list-style-type: none;
}
.head-txt ul li a {
	color: #000;
}
#booking-line1 {
	clear: both;
	width: 100%;
	margin-bottom: 20px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000;
	border-bottom-color: #000;
	min-width: 1135px;
}
#booking-row1 {
	font-size: 21px;
	text-transform: uppercase;
	color: #CCC;
	text-align: center;
	width: 1135px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}
#booking-row1 ul li {
	display: inline;
	padding-right: 27px;
	list-style-type: none;
}
#booking-row1 ul li a {
	color: #CCC;
}
.step-blu {
	color: #4DC9FF;
}
.step-groupon {
	color: #53A318;
}
.step-bla {
	color: #000;
}
#booking-line2 {
	clear: both;
	width: 100%;
	min-width: 1135px;
}
#booking-row2 {
	width: 1025px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 55px;
	padding-left: 55px;
}
.verzilver-box1 {
	float: left;
	width: 490px;
	margin-bottom: 76px;
}
.colortop-blu {
	background-color: #4DC9FF;
	height: 12px;
	width: 490px;
}
.colortop-pur2 {
	background-color: #BC5AB0;
	height: 12px;
	width: 490px;
}
.colortop-ora {
	background-color: #FF8000;
	height: 12px;
	width: 490px;
}
.colortop-groupon {
	background-color: #53A318;
	height: 12px;
	width: 490px;
}
.colortop-hema {
	background-color: #E3191C;
	height: 12px;
	width: 490px;
}
.verzilver-box1-row1 {
	width: 440px;
	padding-right: 25px;
	padding-left: 25px;
}
.box1-row26 {
	font-size: 26px;
	text-transform: uppercase;
	width: 440px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.box1-row14 {
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	width: 440px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.box1-row14-title {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	width: 440px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.box1-row14-close {
	font-size: 14px;
	line-height: 21px;
	width: 440px;
	padding-top: 9px;
}
.box1-row14-close a {
	font-weight: bold;
	color: #4DC9FF;
}
.colortop-blu-20-top {
	background-color: #4DC9FF;
	height: 12px;
	width: 490px;
	margin-top: 20px;
}
.verzilver-box1-row2 {
	width: 440px;
	padding-right: 25px;
	padding-left: 25px;
}
.box1-row14-message {
	font-size: 14px;
	font-style: italic;
	line-height: 21px;
	width: 440px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.box1-row14-message-blu {
	font-size: 14px;
	font-style: italic;
	line-height: 21px;
	color: #4DC9FF;
	width: 440px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.box-row14-message-ora {
	font-size: 14px;
	font-style: italic;
	line-height: 21px;
	color: #FF8000;
	width: 440px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.box-row14-message-red {
	font-size: 14px;
	font-style: italic;
	line-height: 21px;
	color: #F00;
	width: 440px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.box1-cam {
	width: 440px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.verzilver-box2 {
	float: right;
	width: 290px;
	margin-bottom: 76px;
}
.verzilver-box2-row1 {
	width: 240px;
	padding-right: 25px;
	padding-left: 25px;
}
.colortop-blu-290 {
	background-color: #4DC9FF;
	height: 12px;
	width: 290px;
}
.box2-row {
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.box2-row26 {
	font-size: 26px;
	text-transform: uppercase;
	width: 240px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.box2-form {
	width: 440px;
}
.box2-form-title {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 9px;
	margin-bottom: 2px;
	padding-left: 0.5%;
}
.box2-formblok {
	width: 100%;
}
.box2-text-input1 {
	font-family: Muli, sans-serif;
	font-size: 15px;
	color: #8E8E8E;
	background-color: #FFF;
	height: 40px;
	width: 100%;
	border: 1px solid #BFBFBF;
	box-sizing: content-box;
}
.box2-formoption {
	width: 100%;
}
.box2-text-input2 {
	font-family: Muli, sans-serif;
	font-size: 15px;
	color: #8E8E8E;
	background-color: #FFF;
	height: 40px;
	width: 100%;
	border: 1px solid #BFBFBF;
	box-sizing: content-box;
}
#numbergrouponsmet-sub {
	width: 100%;
}
#numbergrouponszonder-sub {
	width: 100%;
}
.numbergroupons {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	color: #53A318;
}
.numbergroupons-input {
	font-family: Muli, sans-serif;
	font-size: 15px;
	color: #8E8E8E;
	background-color: #FFF;
	height: 40px;
	border: 1px solid #BFBFBF;
	box-sizing: content-box;
}
.box2-button {
	width: 100%;
	margin-top: 18px;
}
.button-groupon {
	font-family: Muli, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #4DC9FF;
	text-align: center;
	display: inline-block;
	height: 44px;
	padding-right: 34px;
	padding-left: 34px;
	border: 2px solid #4DC9FF;
}
.colortop-ora-error {
	background-color: #FF8000;
	height: 12px;
	width: 490px;
	margin-top: 20px;
}
.verzilver-box2-error {
	width: 440px;
	padding-right: 25px;
	padding-left: 25px;
}
.box2-row26-error {
	font-size: 26px;
	text-transform: uppercase;
	color: #FF8000;
	width: 440px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FF8000;
}
.box2-row14-error {
	font-size: 14px;
	line-height: 21px;
	color: #FF8000;
	width: 440px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FF8000;
}
.box2-row14-error-title {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FF8000;
	width: 440px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FF8000;
}
.box2-row14-error a {
	color: #FF8000;
}
#numberhema-sub {
	width: 100%;
}
.numberhema {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	color: #4DC9FF;
}
.numberhema-input {
	font-family: Muli, sans-serif;
	font-size: 15px;
	color: #8E8E8E;
	background-color: #FFF;
	height: 40px;
	border: 1px solid #BFBFBF;
	box-sizing: content-box;
}
#foot-colortop {
	background-color: #4DC9FF;
	clear: both;
	height: 12px;
	width: 100%;
	min-width: 1135px;
}
#foot {
	background-color: #D8D8D8;
	clear: both;
	width: 100%;
	min-width: 1135px;
}
#foot-wrap {
	height: 268px;
	width: 1012px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 123px;
}
.foot-box {
	float: left;
	width: 222px;
}
.foot-box-txtt {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	padding-top: 22px;
}
.foot-box-link {
	font-size: 12px;
	line-height: 22px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	padding-top: 12px;
}
.foot-box-link a {
	color: #000;
}
.foot-box-social {
	padding-top: 14px;
}
.foot-box-social ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
#dagje-winterberg-bus {
	width: 100%;
	min-width: 1135px;
}
#dagje-winterbergen-bus {
	width: 1135px;
	margin-right: auto;
	margin-left: auto;
}
.busreis-winterberg {
	font-size: 13px;
	line-height: 18px;
	font-weight: 600;
	color: #000;
	text-align: center;
	width: 1135px;
	padding-top: 16px;
	padding-bottom: 16px;
}
