@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
a:link, a:visited, a:active {
	text-decoration: none;
}
body {
	font-family: "Open Sans", sans-serif;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
#booking-wrap {
	width: 1135px;
	margin-right: auto;
	margin-left: auto;
}
#head {
	height: 102px;
	width: 1135px;
}
.head-logo-winterbergbus {
	padding-top: 14px;
	padding-left: 14px;
	position: absolute;
	z-index: 1;
}
.head-logo-groupon {
	margin-top: 14px;
	margin-left: 14px;
	position: absolute;
	z-index: 1;
}
.head-logo-hema {
	margin-left: 14px;
	position: absolute;
	z-index: 1;
}
.head-txt {
	font-size: 12px;
	text-align: right;
	height: 60px;
	width: 1125px;
	padding-top: 10px;
	padding-right: 10px;
}
.head-txt ul li {
	display: inline;
	padding-right: 7px;
	padding-left: 7px;
	list-style-type: none;
}
.head-txt ul li a {
	color: #000;
}
#booking-line1 {
	clear: both;
	width: 100%;
	margin-bottom: 20px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000;
	border-bottom-color: #000;
	min-width: 1135px;
}
#booking-row1 {
	font-size: 21px;
	text-transform: uppercase;
	color: #CCC;
	text-align: center;
	width: 1135px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}
#booking-row1 ul li {
	display: inline;
	padding-right: 27px;
	list-style-type: none;
}
#booking-row1 ul li a {
	color: #CCC;
}
.step-blu {
	color: #4DC9FF;
}
.step-groupon {
	color: #53A318;
}
.step-bla {
	color: #000;
}
#booking-line2 {
	clear: both;
	width: 100%;
	min-width: 1135px;
}
#booking-row2 {
	width: 1025px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 55px;
	padding-left: 55px;
}
#booking-row2-1115 {
	width: 1115px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
}
.webshopgroupon-left {
	float: left;
	width: 765px;
	margin-bottom: 76px;
}
.webshopgroupon-attention {
	width: 715px;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 21px;
	background-color: #EAEAEA;
	padding-top: 18px;
	padding-right: 25px;
	padding-bottom: 18px;
	padding-left: 25px;
}
.webshopgroupon-attention a {
	font-weight: bold;
	color: #4DC9FF;
}
.red {
	font-weight: bold;
	color: #F00;
}
.colortop-blu-webshopgroupon {
	background-color: #4DC9FF;
	height: 12px;
	width: 765px;
}
.webshopgroupon-row1 {
	width: 715px;
	padding-right: 25px;
	padding-left: 25px;
}
.webshopgroupon-row {
	width: 715px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.webshopgroupon-row14-name {
	font-size: 14px;
	text-transform: uppercase;
	width: 715px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	margin-bottom: 20px;
}
.newsbox-row20 {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	width: 195px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.newsbox-row14 {
	font-size: 14px;
	line-height: 21px;
	width: 195px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	margin-bottom: 20px;
}
.blub {
	font-weight: bold;
	color: #4DC9FF;
}
.samenstellen-box {
	float: left;
	width: 490px;
	margin-bottom: 76px;
}
.colortop-blu {
	background-color: #4DC9FF;
	height: 12px;
	width: 490px;
}
.samenstellen-box-row1 {
	width: 440px;
	padding-right: 25px;
	padding-left: 25px;
}
.box-row {
	font-size: 40px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.box-row26 {
	font-size: 26px;
	text-transform: uppercase;
	width: 440px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.box-form {
	width: 440px;
}
.box-form-title {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 9px;
	margin-bottom: 2px;
	padding-left: 0.5%;
}
.box-formblok {
	width: 100%;
}
.box-text-input1 {
	font-family: Muli, sans-serif;
	font-size: 15px;
	color: #8E8E8E;
	background-color: #FFF;
	height: 40px;
	width: 100%;
	border: 1px solid #BFBFBF;
	box-sizing: content-box;
}
.box-formoption {
	width: 100%;
}
.box-text-input2 {
	font-family: Muli, sans-serif;
	font-size: 15px;
	color: #8E8E8E;
	background-color: #FFF;
	height: 40px;
	width: 100%;
	border: 1px solid #BFBFBF;
	box-sizing: content-box;
}
.box-text-input2-frozen {
	font-family: Muli, sans-serif;
	font-size: 15px;
	color: #8E8E8E;
	background-color: #EAEAEA;
	height: 40px;
	width: 100%;
	border: 1px solid #BFBFBF;
	box-sizing: content-box;
}
#seatsrentalincluded-sub {
	width: 100%;
}
#seatsrentalnotincluded-sub {
	width: 100%;
}
.numberpassengers {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	color: #4DC9FF;
}
.numberpassengers-input {
	font-family: Muli, sans-serif;
	font-size: 15px;
	color: #8E8E8E;
	background-color: #FFF;
	height: 40px;
	border: 1px solid #BFBFBF;
	box-sizing: content-box;
}
.box-button {
	width: 100%;
	margin-top: 18px;
}
.button-addbustrip {
	font-family: Muli, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #4DC9FF;
	text-align: center;
	display: inline-block;
	height: 44px;
	padding-right: 34px;
	padding-left: 34px;
	border: 2px solid #4DC9FF;
}
.colortop-pur2-error-20 {
	background-color: #BC5AB0;
	height: 12px;
	width: 490px;
	margin-top: 20px;
}
.samenstellen-box-row2 {
	width: 440px;
	padding-right: 25px;
	padding-left: 25px;
}
.box-row26-error {
	font-size: 26px;
	text-transform: uppercase;
	color: #BC5AB0;
	width: 440px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BC5AB0;
}
.box-row14-error {
	font-size: 14px;
	line-height: 21px;
	color: #BC5AB0;
	width: 440px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BC5AB0;
}
.box-row14-error-title {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #BC5AB0;
	width: 440px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BC5AB0;
}
.box-row14-error a {
	font-weight: bold;
	color: #BC5AB0;
}
.webshop-right {
	float: right;
	margin-bottom: 76px;
	width: 300px;
}
.webshop-basket {
	background-color: #EAEAEA;
	width: 300px;
	margin-bottom: 20px;
	float: right;
}
.colortop-ora-300 {
	background-color: #FF8000;
	height: 12px;
	width: 300px;
	float: left;
}
.basket-row {
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	float: left;
	width: 250px;
}
.basket-row1 {
	width: 250px;
	padding-right: 25px;
	padding-left: 25px;
	float: left;
}
.basket-row20 {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #FF8000;
	width: 250px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	float: left;
}
.basket-row14-title {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	width: 250px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	float: left;
}
.basket-title {
	font-size: 12px;
	text-transform: uppercase;
	width: 250px;
	font-weight: bold;
	float: left;
}
.basket-title-box100 {
	float: left;
	width: 150px;
	padding-top: 12px;
}
.basket-title-box50 {
	float: left;
	width: 50px;
	padding-top: 12px;
	text-align: right;
}
.basket-sub {
	font-size: 12px;
	text-transform: uppercase;
	width: 250px;
	float: left;
}
.basket-sub-box100 {
	float: left;
	width: 150px;
}
.basket-sub-box50 {
	float: left;
	width: 50px;
	text-align: right;
}
.basket-total {
	font-size: 12px;
	text-transform: uppercase;
	width: 250px;
	font-weight: bold;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.basket-total-box100 {
	float: left;
	width: 150px;
	padding-top: 6px;
	padding-bottom: 12px;
}
.basket-total-box50 {
	float: left;
	width: 50px;
	padding-top: 6px;
	text-align: right;
	padding-bottom: 12px;
}
.basket-row-next {
	width: 250px;
	padding-top: 18px;
	padding-bottom: 18px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	float: left;
}
.button-basket-next {
	font-family: Muli, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #FF8000;
	text-align: center;
	display: inline-block;
	height: 44px;
	width: 100%;
	padding-right: 34px;
	padding-left: 34px;
	border: 2px solid #FF8000;
}
.basket-close {
	background-color: #EAEAEA;
	height: 60px;
	width: 300px;
	float: left;
}


.samenstellen-overzicht {
    background-color: #EAEAEA;
    float: right;
    width: 300px;
    margin-bottom: 76px;
}

.colortop-pur2-300 {
    background-color: #BC5AB0;
    height: 12px;
    width: 300px;
}


.overzicht-row1 {
    width: 250px;
    padding-right: 25px;
    padding-left: 25px;

}
.overzicht-row {
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.overzicht-row20 {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #BC5AB0;
	width: 250px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.overzicht-row14-title {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	width: 250px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.overzicht-row12 {
	font-size: 12px;
	line-height: 21px;
	text-transform: uppercase;
	width: 250px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.br4 {
	line-height: 4px;
}
.overzicht-row-next {
	width: 250px;
	padding-top: 18px;
	padding-bottom: 18px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #8E8E8E;
}
.orab {
	font-weight: bold;
	color: #FF8000;
	text-decoration: underline;
}
.overzicht-row12-winkelmand {
	font-size: 12px;
	line-height: 21px;
	text-transform: uppercase;
	width: 250px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #8E8E8E;
}
.button-next {
	font-family: Muli, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #BC5AB0;
	text-align: center;
	display: inline-block;
	height: 44px;
	width: 100%;
	padding-right: 34px;
	padding-left: 34px;
	border: 2px solid #BC5AB0;
}
.overzicht-row14-light-title {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #8E8E8E;
	width: 250px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #8E8E8E;
}
.overzicht-row12-light {
	font-size: 12px;
	line-height: 21px;
	text-transform: uppercase;
	color: #8E8E8E;
	width: 250px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #8E8E8E;
}
.overzicht-close {
	background-color: #EAEAEA;
	height: 60px;
	width: 300px;
}
#foot-colortop {
	background-color: #4DC9FF;
	clear: both;
	height: 12px;
	width: 100%;
	min-width: 1135px;
}
#foot {
	background-color: #D8D8D8;
	clear: both;
	width: 100%;
	min-width: 1135px;
}
#foot-wrap {
	height: 268px;
	width: 1012px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 123px;
}
.foot-box {
	float: left;
	width: 222px;
}
.foot-box-txtt {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	padding-top: 22px;
}
.foot-box-link {
	font-size: 12px;
	line-height: 22px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	padding-top: 12px;
}
.foot-box-link a {
	color: #000;
}
.foot-box-social {
	padding-top: 14px;
}
.foot-box-social ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
#dagje-winterberg-bus {
	width: 100%;
	min-width: 1135px;
}
#dagje-winterbergen-bus {
	width: 1135px;
	margin-right: auto;
	margin-left: auto;
}
.busreis-winterberg {
	font-size: 13px;
	line-height: 18px;
	font-weight: 600;
	color: #000;
	text-align: center;
	width: 1135px;
	padding-top: 16px;
	padding-bottom: 16px;
}

/*my work field*/

.input_field{
	width: 100%;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.text_field{
	width: 225px;
}
.text_field label{
	width: 100%;
	font-weight: bold;
	float: left;
}
.text_field input{
	height: 50px;
	width: 223px;
	font-size: 20px;
	border: 1px solid #888;
}
.text_field select{
	width: 225px;
	height: 50px;	
	font-size: 20px;
}
.row2 select{
	width: 105px;
	height: 50px;
	font-size: 20px;
}
.row2 .right_input{
	width: 110px;
}
.text_field span{
	height: 50px;
	width: 225px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.webshopgroupon-form input[type=checkbox] {
	margin-bottom: 30px;
	float: left;
	width: 20px;
	height: 20px;
}
.webshopgroupon-form label p{
	line-height: 20px;
	margin-bottom: 30px; 
}
#scho_right{
	width: 108px;
	height: 48px;
	font-size: 20px;
	border: 1px solid #888;
	display: flex;
	text-align: center;
	align-items: center;
}
#scho_right p{
	font-size: 20px;
	font-family: Arial;
}