@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'DINMedium';
  src: url('../fonts/DINMedium.eot');
  src: local('DINMedium'),
  url('../fonts/DINMedium.woff') format('woff'),
  url('../fonts/DINMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'DINBold';
  src: url('../fonts/DINBold.eot');
  src: local('../DINBold'),
  url('../fonts/DINBold.woff') format('woff'),
  url('../fonts/DINBold.ttf') format('truetype');
}

* { margin: 0px; padding: 0px; }
a:link, a:visited, a:active { text-decoration: none; }
html { font-family: Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; }
img { border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; }

body { background-color: #F7F7F7; margin: 0px; padding: 0px; height: 100%; width: 100%; -webkit-text-size-adjust: none; background-repeat: no-repeat; background-position: center top;}
body.step2 { background-image: url(../images/background-step2.jpg); }
body.step3 { background-image: url(../images/background-step3.jpg); }
body.step4 { background-image: url(../images/background-step4.jpg); }
body.step5 { background-image: url(../images/background-step5.jpg); }
#onder { background-color: #FFF; height: 96px; width: 100%; min-width: 1002px; }
#wrapper { width: 1002px; margin-right: auto; margin-left: auto; }
#kopw { height: 140px; width: 1002px; }
#kopwl { float: left; height: 140px; width: 854px; }
#language { height: 58px; padding-top: 7px; padding-left: 23px; }
#language ul li { display: inline; padding-left: 3px; list-style-type: none; }

#menu { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; text-transform: uppercase; color: #3A3A3A; height: 69px; padding-left: 2px; }
#menu ul li { display: inline-block; height: 26px; padding-right: 23px; padding-left: 23px; list-style-type: none; *display: inline; }
#menu ul li:hover { border-bottom-width: 14px; border-bottom-style: solid; border-bottom-color: #FFF; }
#menu ul li a { line-height: 26px; color: #3A3A3A; }
#menu ul li a:hover { color: #4DC9FF; }

#kopwr { text-align: left; float: left; height: 125px; width: 148px; padding-top: 15px; }

  #boek-wrap { clear: both; float: left; width: 1002px; margin-top: 20px; margin-bottom: 70px; }

    #boek-title { font-family: DINMedium; font-size: 43px; color: #4DC9FF; width: 950px; padding-top: 28px; padding-bottom: 23px; padding-left: 52px; }
    #boek-banner { height: 246px; width: 1002px; }
    #boek-content { width: 898px; padding-right: 52px; padding-left: 52px; }

    #boek-content-inner { font-family: DINMedium; padding: 28px; float: left; width: 840px; margin-bottom: 28px; border: 1px solid #373737; }

      #boek-content-inner .leftSide { float: left; width: 45%; }

        #boek-content-inner .leftSide form { }
        #boek-content-inner .leftSide form #oneway,
        #boek-content-inner .leftSide form #retour { float: left; background: url("../images/radio.png" ) no-repeat; margin: 0 17px; cursor: pointer; }
        #boek-content-inner .leftSide form #oneway.selected,
        #boek-content-inner .leftSide form #retour.selected { background-position: 0px -19px; }
        #boek-content-inner .leftSide form label { width: 125px; float: left; height: 30px; line-height: 30px; }
        #boek-content-inner .leftSide form #calendar { width: 196px; color: #000000; padding: 4px 11px; }
        #boek-content-inner .leftSide form input[type="submit"] { margin-right: 34px; margin-top: 20px; float: right; cursor: pointer; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-transform: uppercase; color: #FFF; background-color: #FF8000; text-align: center; display: inline-block; height: 41px; padding-right: 36px; padding-left: 36px; border: 2px solid #FF8000; -webkit-font-smoothing: antialiased; -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; -webkit-appearance: none; }
        #boek-content-inner .leftSide form input[type="submit"].disabled { opacity: .5; cursor: default; }

      #boek-content-inner .rightSide { float: right; width: 54%; }

    #kassablok { background:#fff; margin:30px 0; padding: 28px; width:944px;}

      #kassawrap { border:1px solid #ABABAB;}
      #kassawrap .form-actions { border: none; background: none; }

        .kassakop { padding:20px;}
        .kassakop p { font-size:17px; font-weight:bold;}

        .kassakolom { float: left; width: 314px; }
        .kassakolom.col_1_3 { width: 33%; }
        .kassakolom.col_2_3 { width: 66%; }
        .kassakolom.col_3_3 { width: 100%; }
        .kassakolom input[type=text] { border:1px solid #ABABAB; padding:2px; margin:3px 0;}
        .kassakolom .blok { padding:20px 0 0 20px; font-size:13px; }
        .kassakolom .blok img.bus { margin-left: -3px; margin-top: 80px; }
        .kassakolom .blok h3 { text-transform:uppercase; margin:0 0 15px 10px; padding:6px; font-size:17px; height:35px; }
        .kassakolom .blok label { display: inline-block; line-height: 20px; margin: 0; vertical-align: middle; }
        .kassakolom .blok #akkoord { line-height: 20px; margin: 0 5px 0 0; vertical-align: middle; }
        .kassakolom .blok .nummer { float:left; margin:0 10px 10px 0; }
        .kassakolom .blok fieldset { display: inline-block; margin-bottom: 5px; }
        .kassakolom .blok fieldset legend { border: medium none; font-size: 14px; line-height: unset; margin-bottom: 5px; }

        .buttonblock { bottom: 0px; position: absolute; right: 20px; width: 277px; }
        .buttonblock label { display: inline-block; line-height: 20px; margin: 0; vertical-align: middle; }
        .buttonblock #akkoord { line-height: 20px; margin: 0 5px 0 0; vertical-align: middle; }
        .buttonblock #kassabutton { }

          .full { width: 290px; }
          .full label { width: 100%; margin-left: 6px; }
          .full input { width: 264px; }

          .halve { display: inline-block; width: 145px; }
          .halve input { width: 115px; }
          .halve label { margin:0 25px 0px 6px; }

          table { border-collapse:collapse; width:100%; margin:0 30px 0 0; font-size:11px;}
          table tr td { line-height:31px; border-top:1px solid #ABABAB; padding:0 15px 0 0;}
          table tr .bold { font-weight:bold;}
          table tr .left { text-align:left;}
          table tr .right { text-align:right;}
          table tr .center { text-align:center; padding-right: 0; }
          table tr td.departure { padding: 0px; line-height: 20px; }
          table tr.dik td { font-weight:bold;}

    #step2Form { margin: 0px; }
    #step2Form input[type="text"] { margin: 0px 25px 5px 0px; }
    #step2Form label { margin-bottom: 2px; }
    #step2Form label a { text-decoration: underline; }
    #step2Form label.ref { cursor: pointer; display: inline-block; margin: 5px; }
    #step2Form .error input { border: 1px solid red; background: #ffc0cb; }
    #step2Form #referrer { width: 130px; }
    #step2Form input[type="radio"],
    #step2Form input[type="checkbox"] { margin-top: -3px; }
    #step2Form #akkoord { margin-right: 5px; }

    /* ## Payment ## */
    #booking-step5 { margin: 0; position: relative; }
    #booking-step5 .payment,
    #booking-step3 .payment { display: inline-block; background: url( ../images/payments.png ) no-repeat; height: 65px; width: 200px; cursor: pointer; opacity: .3; transition: opacity .25s ease-in-out; -moz-transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out; }

    #booking-step3 #none { margin-top: 25px; display: none; }

    #booking-step3 #hema { margin-top: 25px; display: none; }
    #booking-step3 #hema textarea { resize: none; width: 264px; height: 45px; }
    #booking-step3 #hema textarea.error { border: 1px solid #ff0000; background-color: #ffc0cb; }
    #booking-step3 #hema textarea.success { border: 1px solid #00d20f; background-color: #b1ffb7;}
    #booking-step3 #hema #hema-check { margin-left: 214px; cursor: pointer; background: none repeat scroll 0 0 tomato; border-radius: 3px; color: #FFFFFF; height: 20px; padding: 0 5px; text-align: center; width: 50px; }

    #booking-step3 #groupon { margin-top: 25px; display: none;  }
    #booking-step3 #groupon label { width: 80px; display: inline-block; }
    #booking-step3 #groupon .set { }
    #booking-step3 #groupon .set .code.error,
    #booking-step3 #groupon .set .control.error { border-color: red; background-color: pink; }
    #booking-step3 #groupon .set .code.success,
    #booking-step3 #groupon .set .control.success { border-color: green; background-color: lightgreen; }
    #booking-step3 #groupon .set .code,
    #booking-step3 #groupon .set .control { width: 100px; text-align: center; color: black; }
    #booking-step3 #groupon #groupon-check { background: none repeat scroll 0 0 tomato; border-radius: 3px; color: #ffffff; cursor: pointer; display: inline-block; float: left; height: 20px; margin:5px 0px 2px 240px; padding: 0 5px; text-align: center; width: 50px; }

    #booking-step3 #vakantieveilingen { margin-top: 25px; display: none; }
    #booking-step3 #vakantieveilingen input { display: inline-block; margin-bottom: 3px; margin-right: 3px; text-align: center; width: 125px; }
    #booking-step3 #vakantieveilingen input.error { border: 1px solid #ff0000; background-color: #ffc0cb; }
    #booking-step3 #vakantieveilingen input.success { border: 1px solid #00d20f; background-color: #b1ffb7;}
    #booking-step3 #vakantieveilingen #vv-check { cursor: pointer; background: none repeat scroll 0 0 tomato; border-radius: 3px; color: #FFFFFF; display: inline-block; height: 20px; margin-bottom: 2px; padding: 0 5px; text-align: center; width: 50px; }

    #booking-step5 .paymentGroup,
    #booking-step3 .paymentGroup { }
    #booking-step5 .paymentGroup .payment,
    #booking-step3 .paymentGroup .payment { margin: 5px; }

      #booking-step5 #payment_ideal { width: 120px; background-position: 0px 0px; }
      #booking-step5 #payment_ideal:hover { opacity: 1; }
      #booking-step5 #payment_ideal.selected { background-position: -121px 0px; opacity: 1; }
      #booking-step5 #payment_paypal { width: 120px; background-position: 0px -198px; }
      #booking-step5 #payment_paypal:hover { opacity: 1; }
      #booking-step5 #payment_paypal.selected { background-position: -121px -198px; opacity: 1; }

      #booking-step3 #payment_none { background-position: -242px -198px; }
      #booking-step3 #payment_none:hover { opacity: 1; }
      #booking-step3 #payment_none.selected { background-position: -443px -198px; opacity: 1; }
      #booking-step3 #payment_hema { background-position: -242px -66px; }
      #booking-step3 #payment_hema:hover { opacity: 1; }
      #booking-step3 #payment_hema.selected { background-position: -443px -66px; opacity: 1; }
      #booking-step3 #payment_groupon { background-position: -242px 0px; }
      #booking-step3 #payment_groupon:hover { opacity: 1; }
      #booking-step3 #payment_groupon.selected { background-position: -443px 0px; opacity: 1; }
      #booking-step3 #payment_vakantieveilingen { background-position: -242px -132px; }
      #booking-step3 #payment_vakantieveilingen:hover { opacity: 1; }
      #booking-step3 #payment_vakantieveilingen.selected { background-position: -443px -132px; opacity: 1; }

      #kassabutton { float: right; border: none; background-color: #ff8000; color: #fff; cursor: pointer; display: inline-block; font-family: Arial,Helvetica,sans-serif; font-size: 12px; height: 40px; line-height: 40px; margin: 20px 40px 20px 0; padding: 0 36px; text-align: center; text-transform: uppercase; }
      #kassabutton.inactief { opacity: .5; cursor: default; }

      #idealbutton { border: none; background-color: #ff8000; color: #fff; cursor: pointer; display: inline-block; font-family: Arial,Helvetica,sans-serif; font-size: 12px; height: 40px; line-height: 40px; margin: 0 0 0 273px; padding: 0 36px; text-align: center; text-transform: uppercase; }

  #kassawrap #booking-step4 { padding: 10px; margin: 0; }
  #kassawrap .product { width: 450px; margin-bottom: 25px; font-family: Arial,Helvetica,sans-serif; }
  #kassawrap .product.left { float: left; }
  #kassawrap .product.right { float: right; }
  #kassawrap .product .title { margin-bottom: 10px; color: #4dc9ff; font-size: 34px; font-weight: 400; line-height: 40px; text-transform: uppercase; }
  #kassawrap .product .image { float: left; }
  #kassawrap .product .info { float: left; height: 100px; display: table; margin-left: 25px;  }
  #kassawrap .product .info.top { margin-top: 20px; }
  #kassawrap .product .info .price { color: black; font-size: 36px; line-height: 36px; }
  #kassawrap .product .info .price span { background-image: url("../images/linethr.png"); background-position: left center; background-repeat: repeat-x; font-size: 16px;}
  #kassawrap .product .info ul { margin-left: 20px; }
  #kassawrap .product .info ul li { line-height: 16px; font-size: 11px; font-weight: bold; }
  #kassawrap .product .choice { float: left; width: 150px; margin-left: 25px; }
  #kassawrap .product .choice label { font-family: DINMedium; font-size: 12px; font-weight: bold; width: 100%; display: block; }
  #kassawrap .product .choice select { width: 100%; }

#foot-border { background-color: #54548E; clear: both; height: 6px; width: 100%; min-width: 1002px; }
#foot { background-color: #000; width: 100%; min-width: 1002px; }
#foot-wrap { height: 220px; width: 972px; margin-right: auto; margin-left: auto; padding-left: 30px; }
.foot-boxs { background-image: url(../images/brabander_winterberg.gif); background-repeat: no-repeat; background-position: left 34px; float: left; width: 210px; }
.foot-txtt { font-family: DINMedium; font-size: 15px; text-transform: uppercase; color: #FFF; width: 186px; padding-top: 26px; padding-left: 24px; }
.foot-link { font-family: DINMedium; font-size: 11px; line-height: 18px; text-transform: uppercase; color: #FFF; height: 140px; width: 186px; padding-top: 12px; padding-left: 24px; }
.foot-link a { color: #FFF;}
.foot-boxl { background-image: url(../images/brabander_winterberg.gif); background-repeat: no-repeat; background-position: left 34px; float: left; width: 342px; }
.foot-social1 { padding-top: 14px; padding-left: 23px; }
.foot-social1 ul li { display: inline; padding-right: 6px; list-style-type: none; }
.foot-social2 { padding-top: 6px; padding-bottom: 56px; padding-left: 23px; }
.foot-social2 ul li { display: inline; padding-right: 6px; list-style-type: none; }
#foot-close { background-color: #FFF; width: 100%; min-width: 1002px; }
#foot-close-wrap { width: 1002px; margin-right: auto; margin-left: auto; }
.foot-close-logo1 { text-align: center; width: 985px; padding-top: 30px; padding-left: 17px; }
.foot-close-logo1 ul li { display: inline; padding-right: 17px; list-style-type: none; }
.foot-close-logo1 img { vertical-align: middle; }
.foot-close-txt { font-family: DINMedium; font-size: 13px; line-height: 18px; color: #828282; text-align: center; width: 1002px; padding-top: 18px; padding-bottom: 36px; }

.ui-datepicker-calendar { }
.ui-datepicker-calendar td.highlight .ui-state-default { background: none repeat scroll 0 0 #ff8000; border-radius: 3px; color: black; }
