@charset "utf-8";

/* CSS Document */
a			{color:#652D8A;}
input[type=text]	{border:1px solid #ABABAB; padding:2px; margin:3px 0;}
textarea		{margin:3px 0;}
*:focus			{outline: 0;}
#kassablok		{background:#fff; margin:30px 0; padding:15px 28px; width:944px;}
#kassawrap		{border:1px solid #ABABAB;}
.nummer			{float:left; margin:0 10px 10px 0;}
.kassakop		{padding:20px;}
.kassakop p		{font-size:17px; font-weight:bold;}
.kassakolom		{float:left; width:314px;}
.kassakolom .blok	{padding:20px 0 0 20px; min-height:300px; font-size:13px;}
.kassakolom .blok h3	{text-transform:uppercase; margin:0 0 15px 10px; padding:6px; font-size:17px; height:35px;}
label			{display:inline-block; *display:inline; margin:0 25px 15px 5px;}
label.ref		{display:inline-block; *display:inline; margin:5px; cursor:pointer;}
label.helft input	{width:109px;}
label.vol		{width:100%;}
label.vol input		{width:258px;}
table			{border-collapse:collapse; width:264px; margin:0 30px 0 0; font-size:11px;}
tr.dik td		{font-weight:bold;}
td			{line-height:31px; border-top:1px solid #ABABAB; padding:0 15px 0 0;}
td.rechts		{text-align:right;}

* {
	margin: 0px;
	padding: 0px;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #EDEDED;
}
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	-webkit-text-size-adjust: none;
}
#onder {
	background-color: #FFF;
	height: 96px;
	width: 100%;
	min-width: 1002px;
}
#wrapper {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
#kopw {
	height: 140px;
	width: 1002px;
}
#kopwl {
	float: left;
	height: 140px;
	width: 854px;
}
#language {
	height: 58px;
	padding-top: 7px;
	padding-left: 23px;
}
#language ul li {
	display: inline;
	padding-left: 3px;
	list-style-type: none;
}
#menu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #3A3A3A;
	height: 69px;
	padding-left: 2px;
}
#menu ul li {
	display: inline-block;
	height: 26px;
	padding-right: 23px;
	padding-left: 23px;
	list-style-type: none;
	*display: inline;
}
#menu ul li:hover {
	border-bottom-width: 14px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
#menu ul li a {
	line-height: 26px;
	color: #3A3A3A;
	text-decoration: none;
	height: 26px;
}
#menu ul li a:hover {
	color: #4DC9FF;
}
#kopwr {
	text-align: left;
	float: left;
	height: 125px;
	width: 148px;
	padding-top: 15px;
}
#content {
	clear: both;
	width: 966px;
	padding-right: 18px;
	padding-left: 18px;
}
#content-box1 {
	float: left;
	width: 400px;
}
.content-img {
	width: 398px;
	border: 1px solid #9C9C9C;
	-webkit-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
}
.content-imgbr {
	height: 40px;
	width: 400px;
}
.content-imgcl {
	height: 76px;
	width: 400px;
}
.content-imgclpas {
	height: 120px;
	width: 400px;
}
.content-imgclpas76 {
	height: 120px;
	width: 400px;
	margin-bottom: 64px;
}
.content-vakantieveilingen {
	width: 400px;
	margin-bottom: 15px;
}
#content-logo {
	float: left;
	width: 400px;
	margin-bottom: 76px;
}
#content-cam {
	float: left;
	width: 400px;
}
#caml {
	float: left;
	width: 190px;
}
#camr {
	float: right;
	width: 190px;
}
.cambox {
	background-color: #FFF;
	width: 190px;
	margin-bottom: 15px;
	-webkit-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
}
.camtt {
	font-family: "Open Sans";
	font-size: 11px;
	font-weight: bold;
	color: #002157;
	width: 180px;
	padding-top: 7px;
	padding-left: 10px;
}
.cam {
	height: 128px;
	width: 180px;
	padding-top: 4px;
	padding-left: 10px;
}
.camin {
	width: 180px;
	padding-top: 8px;
	padding-bottom: 7px;
	padding-left: 10px;
}
.camin ul li {
	display: inline;
	padding-right: 1px;
	list-style-type: none;
}
.camboxc {
	background-color: #FFF;
	width: 190px;
	margin-bottom: 76px;
	-webkit-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
}
#content-box2 {
	float: right;
	width: 535px;
}
.content-txtt {
	font-family: "Open Sans";
	font-size: 47px;
	font-weight: 400;
	color: #002157;
	width: 535px;
	padding-bottom: 13px;
}
.content-txtm {
	font-family: "Open Sans";
	font-size: 17px;
	line-height: 24px;
	color: #616161;
	width: 535px;
	padding-bottom: 70px;
}
.content-txtmbr {
	line-height: 12px;
}
.content-txtmtt {
	font-weight: bold;
	color: #002157;
}
.content-txtm a {
	font-weight: bold;
	color: #652D8A;
	text-decoration: none;
}
.content-txtm a:hover {
	color: #8D57A5;
}
.content-txtm ul li {
	margin-left: 30px;
}
.content-txtm ol li {
	margin-left: 36px;
}
.content-txtmio {
	font-style: italic;
	color: #FF9B05;
}
.content-txtmtb {
	font-family: "Open Sans";
	font-size: 17px;
	line-height: 24px;
	color: #616161;
	width: 535px;
	padding-bottom: 11px;
}
.content-txtmtb a {
	font-weight: bold;
	color: #652D8A;
	text-decoration: none;
}
.content-txtmtb a:hover {
	color: #8D57A5;
}
.content-txtmtb ul li {
	margin-left: 30px;
}
.content-txtmbp {
	font-weight: bold;
	color: #652D8A;
}
.content-txtmail {
	font-family: "Open Sans";
	font-size: 12px;
	color: #616161;
	width: 535px;
	padding-top: 9px;
}
#time-top {
	background-color: #FFF;
	width: 947px;
	margin-top: 20px;
	padding-top: 19px;
	padding-bottom: 14px;
	padding-left: 19px;
}
#time-bot {
	font-size: 12px;
	color: #8E8E8E;
	text-align: left;
	width: 927px;
	padding-top: 15px;
	padding-bottom: 73px;
	padding-left: 39px;
}
#time-bot a {
	font-weight: bold;
	color: #652D8A;
	text-decoration: none;
}
.link1 {
	font-weight: bold;
	color: #652D8A;
	text-decoration: none;
}
#tabel1 {
	clear: both;
	width: 994px;
	padding-right: 8px;
}
#foot {
	background-color: #8B8B8B;
	clear: both;
	height: 250px;
	width: 100%;
}
#foot-wrap {
	height: 250px;
	width: 992px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
}
.foot-boxs {
	background-image: url(../images/brabander_winterberg.png);
	background-repeat: no-repeat;
	background-position: left 42px;
	float: left;
	width: 210px;
}
.foot-txtt {
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 600;
	color: #FFF;
	width: 186px;
	padding-top: 46px;
	padding-left: 24px;
}
.foot-link {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #FFF;
	height: 140px;
	width: 186px;
	padding-top: 5px;
	padding-left: 24px;
}
.foot-link a {
	color: #FFF;
	text-decoration: none;
}
.foot-boxl {
	background-image: url(../images/brabander_winterberg.png);
	background-repeat: no-repeat;
	background-position: left 42px;
	float: left;
	height: 164px;
	width: 339px;
	padding-top: 46px;
	padding-left: 23px;
}
#foot-close {
	font-size: 13px;
	color: #FFF;
	clear: both;
	height: 48px;
	width: 976px;
	padding-left: 16px;
}
#foot-close ul li {
	display: inline;
	padding-right: 8px;
	padding-left: 8px;
	list-style-type: none;
}

#kassabutton {
  float:right;
  font-size: 11px;
  line-height: 32px;
  font-weight: bold;
  color: #FFF;
  background-color: #4EC8FE;
  background-image: url(../images/knop.png);
  background-repeat: no-repeat;
  background-position: right;
  text-align: left;
  margin: 20px 30px 0px;
  height: 31px;
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  text-shadow: 0px 1px 0px #000;
  border-radius: 8px;
  -webkit-appearance: none;
  cursor: pointer;
}

.boekknop {
  float: right;
}
.inactief {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.actief {
  cursor: pointer;
}

  /* ### Form ### */
  #step2Form { }
  #step2Form input[type="text"] { margin: 0px 25px 5px 5px; height: 14px; }
  #step2Form label { margin-bottom: 2px; }
  #step2Form label a { text-decoration: underline; }
  #step2Form label.ref { cursor: pointer; display: inline-block; margin: 5px; }
  #step2Form .error input { border: 1px solid red; background: #ffc0cb; }
  #step2Form #referrer { width: 130px; }
  #step2Form input[type="radio"],
  #step2Form input[type="checkbox"] { margin-top: -3px; }

    /* ### Halve ### */
    #step2Form .halve { display: inline-block; width: 145px; }
    #step2Form .halve input { width: 115px; }

    /* ### Full ### */
    #step2Form .full { width: 290px; }
    #step2Form .full label { width: 100%; }
    #step2Form .full input { width: 264px; }

    /* ## Payment ## */
    #step2Form .payment { background: url( ../images/payments.png ) no-repeat; height: 65px; width: 190px; cursor: pointer; opacity: .3; transition: opacity .25s ease-in-out; -moz-transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out; }
    #step2Form .paymentColumn { margin-left: 35px; }

    #step2Form #coupon { margin-left: 26px; display: none; }
    #step2Form #coupon input { display: inline-block; margin-bottom: 3px; margin-right: 3px; text-align: center; width: 125px; }
    #step2Form #coupon input.error { border: 1px solid #ff0000; background-color: #ffc0cb; }
    #step2Form #coupon input.success { border: 1px solid #00d20f; background-color: #b1ffb7;}
    #step2Form #coupon #check { cursor: pointer; background: none repeat scroll 0 0 tomato; border-radius: 3px; color: #FFFFFF; display: inline-block; height: 20px; margin-bottom: 2px; padding: 0 5px; text-align: center; width: 50px; }

    #step2Form #payment_ideal { background-position: 0px 0px; }
    #step2Form #payment_ideal:hover { background-position: 0px 0px; opacity: 1; }
    #step2Form #payment_ideal.selected { background-position: -190px 0px; opacity: 1; }
    #step2Form #payment_vakantieveilingen { background-position: 0px -65px; height: 74px; margin-bottom: 10px;}
    #step2Form #payment_vakantieveilingen:hover { background-position: 0px -65px; opacity: 1; }
    #step2Form #payment_vakantieveilingen.selected { background-position: -190px -65px; opacity: 1; }

.form-actions #yw0 {  margin-left: 11px; }
.ideal { background: url("../images/logo_ideal.png") no-repeat scroll 0 7px rgba(0, 0, 0, 0); padding-left: 30px; }
