@charset "utf-8";
/* CSS Document */

@font-face { 
  font-family: 'DINMedium';
  src: url('../fonts/DINMedium.eot');
  src: local('DINMedium'),
  url('../fonts/DINMedium.woff') format('woff'),
  url('../fonts/DINMedium.ttf') format('truetype');
}

@font-face { 
  font-family: 'DINBold';
  src: url('../fonts/DINBold.eot');
  src: local('../DINBold'),
  url('../fonts/DINBold.woff') format('woff'),
  url('../fonts/DINBold.ttf') format('truetype');
}

* { margin: 0px; padding: 0px; }
a:link, a:visited, a:active { text-decoration: none; }
html { font-family: Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; }
img { border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; }

body { background-color: #F7F7F7; margin: 0px; padding: 0px; height: 100%; width: 100%; -webkit-text-size-adjust: none; }
body.step2 { background-image: url(../images/background-step2.jpg); background-repeat: no-repeat; background-position: center top; }
body.step4 { background-image: url(../images/background-step4.jpg); background-repeat: no-repeat; background-position: center top; }
#onder { background-color: #FFF; height: 96px; width: 100%; min-width: 1002px; }
#wrapper { width: 1002px; margin-right: auto; margin-left: auto; }
#kopw { height: 140px; width: 1002px; }
#kopwl { float: left; height: 140px; width: 854px; }
#language { height: 58px; padding-top: 7px; padding-left: 23px; }
#language ul li { display: inline; padding-left: 3px; list-style-type: none; }

#menu { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; text-transform: uppercase; color: #3A3A3A; height: 69px; padding-left: 2px; }
#menu ul li { display: inline-block; height: 26px; padding-right: 23px; padding-left: 23px; list-style-type: none; *display: inline; }
#menu ul li:hover { border-bottom-width: 14px; border-bottom-style: solid; border-bottom-color: #FFF; }
#menu ul li a { line-height: 26px; color: #3A3A3A; }
#menu ul li a:hover { color: #4DC9FF; }

#kopwr { text-align: left; float: left; height: 125px; width: 148px; padding-top: 15px; }

  #boek-wrap { clear: both; float: left; width: 1002px; margin-top: 20px; margin-bottom: 70px; }

    #boek-title { font-family: DINMedium; font-size: 43px; color: #4DC9FF; width: 950px; padding-top: 28px; padding-bottom: 23px; padding-left: 52px; }
    #boek-banner { height: 246px; width: 1002px; }
    #boek-content { width: 898px; padding-right: 52px; padding-left: 52px; }

    #boek-content-inner { font-family: DINMedium; padding: 28px; float: left; width: 840px; margin-bottom: 28px; border: 1px solid #373737; }

      #boek-content-inner .leftSide { float: left; width: 45%; }

        #boek-content-inner .leftSide form { }
        #boek-content-inner .leftSide form #oneway,
        #boek-content-inner .leftSide form #retour { float: left; background: url("../images/radio.png" ) no-repeat; margin: 0 17px; cursor: pointer; }
        #boek-content-inner .leftSide form #oneway.selected,
        #boek-content-inner .leftSide form #retour.selected { background-position: 0px -19px; }
        #boek-content-inner .leftSide form label { width: 125px; float: left; height: 30px; line-height: 30px; }
        #boek-content-inner .leftSide form #calendar { width: 196px; color: #000000; padding: 4px 11px; }
        #boek-content-inner .leftSide form input[type="submit"] { margin-right: 34px; margin-top: 20px; float: right; cursor: pointer; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-transform: uppercase; color: #FFF; background-color: #FF8000; text-align: center; display: inline-block; height: 41px; padding-right: 36px; padding-left: 36px; border: 2px solid #FF8000; -webkit-font-smoothing: antialiased; -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; -webkit-appearance: none; }
        #boek-content-inner .leftSide form input[type="submit"].disabled { opacity: .5; cursor: default; }

      #boek-content-inner .rightSide { float: right; width: 54%; }

    #kassablok { background:#fff; margin:30px 0; padding: 28px; width:944px;}

      #kassawrap { border:1px solid #ABABAB;}
      #kassawrap .form-actions { border: none; background: none; }

        .kassakop { padding:20px;}
        .kassakop p { font-size:17px; font-weight:bold;}

        .kassakolom { float: left; width: 314px; }
        .kassakolom.fullwidth { width: 100%; }
        .kassakolom input[type=text] { border:1px solid #ABABAB; padding:2px; margin:3px 0;}
        .kassakolom .blok { padding:20px 0 0 20px; font-size:13px; }
        .kassakolom .blok img.bus { margin-left: -3px; margin-top: 80px; }
        .kassakolom .blok h3 { text-transform:uppercase; margin:0 0 15px 10px; padding:6px; font-size:17px; height:35px; }
        .kassakolom .blok label { display: inline-block; }
        .kassakolom .blok label { display: inline-block; }
        .kassakolom .blok .nummer { float:left; margin:0 10px 10px 0; }
        .kassakolom .blok fieldset { display: inline-block; margin-bottom: 5px; }
        .kassakolom .blok fieldset legend { border: medium none; font-size: 14px; line-height: unset; margin-bottom: 5px; }

          #step2Form .full { width: 290px; }
          #step2Form .full label { width: 100%; margin-left: 6px; }
          #step2Form .full input { width: 264px; }

          #step2Form .halve { display: inline-block; width: 145px; }
          #step2Form .halve input { width: 115px; }
          #step2Form .halve label { margin:0 25px 0px 6px; }

          table { border-collapse:collapse; width:264px; margin:0 30px 0 0; font-size:11px;}
          table tr td { line-height:31px; border-top:1px solid #ABABAB; padding:0 15px 0 0;}
          table tr td.rechts { text-align:right;}
          table tr td.departure { padding: 0px; line-height: 20px; }
          table tr.dik td { font-weight:bold;}

    #step2Form { margin: 0px; }
    #step2Form input[type="text"] { margin: 0px 25px 5px 0px; }
    #step2Form label { margin-bottom: 2px; }
    #step2Form label a { text-decoration: underline; }
    #step2Form label.ref { cursor: pointer; display: inline-block; margin: 5px; }
    #step2Form .error input { border: 1px solid red; background: #ffc0cb; }
    #step2Form #referrer { width: 130px; }
    #step2Form input[type="radio"],
    #step2Form input[type="checkbox"] { margin-top: -3px; }
    #step2Form #akkoord { margin-right: 5px; }

    /* ## Payment ## */
    #step2Form .payment { display: inline-block; background: url( ../images/payments.png ) no-repeat; height: 65px; width: 120px; cursor: pointer; opacity: .3; transition: opacity .25s ease-in-out; -moz-transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out; }

    #step2Form #coupon { margin-left: 26px; margin-top: 10px; display: none; }
    #step2Form #coupon input { display: inline-block; margin-bottom: 3px; margin-right: 3px; text-align: center; width: 125px; }
    #step2Form #coupon input.error { border: 1px solid #ff0000; background-color: #ffc0cb; }
    #step2Form #coupon input.success { border: 1px solid #00d20f; background-color: #b1ffb7;}
    #step2Form #coupon #vv-check { cursor: pointer; background: none repeat scroll 0 0 tomato; border-radius: 3px; color: #FFFFFF; display: inline-block; height: 20px; margin-bottom: 2px; padding: 0 5px; text-align: center; width: 50px; }

    #step2Form #codes { margin-top: 10px; display: none; }
    #step2Form #codes textarea { resize: none; width: 264px; height: 45px; }
    #step2Form #codes textarea.error { border: 1px solid #ff0000; background-color: #ffc0cb; }
    #step2Form #codes textarea.success { border: 1px solid #00d20f; background-color: #b1ffb7;}
    #step2Form #codes #hema-check { margin-left: 200px; cursor: pointer; background: none repeat scroll 0 0 tomato; border-radius: 3px; color: #FFFFFF; height: 20px; padding: 0 5px; text-align: center; width: 50px; }

    #step2Form .paymentGroup { }
    #step2Form .paymentGroup .payment { margin: 5px; }

      #step2Form #payment_hema { background-position: 0px -66px; }
      #step2Form #payment_hema:hover { background-position: 0px -66px; opacity: 1; }
      #step2Form #payment_hema.selected { background-position: -121px -66px; opacity: 1; }
      #step2Form #payment_ideal { background-position: 0px 0px; }
      #step2Form #payment_ideal:hover { background-position: 0px 0px; opacity: 1; }
      #step2Form #payment_ideal.selected { background-position: -121px 0px; opacity: 1; }
      #step2Form #payment_paypal { background-position: 0px -198px; }
      #step2Form #payment_paypal:hover { background-position: 0px -198px; opacity: 1; }
      #step2Form #payment_paypal.selected { background-position: -121px -198px; opacity: 1; }
      #step2Form #payment_vakantieveilingen { background-position: 0px -132px; }
      #step2Form #payment_vakantieveilingen:hover { background-position: 0px -132px; opacity: 1; }
      #step2Form #payment_vakantieveilingen.selected { background-position: -121px -132px; opacity: 1; }
      #step2Form #payment_mistercash { background: url( ../images/logo_mistercash2.png ) no-repeat;  }
      #step2Form #payment_mistercash:hover { background: url( ../images/logo_mistercash.png); opacity: 1; }
      #step2Form #payment_mistercash.selected { background: url( ../images/logo_mistercash.png); opacity: 1; }

      #kassabutton { float: right; border: none; background-color: #ff8000; color: #fff; cursor: pointer; display: inline-block; font-family: Arial,Helvetica,sans-serif; font-size: 12px; height: 40px; line-height: 40px; margin: 20px 40px 30px 0; padding: 0 36px; text-align: center; text-transform: uppercase; }
      #kassabutton.inactief { opacity: .5; cursor: default; }

      #idealbutton { border: none; background-color: #ff8000; color: #fff; cursor: pointer; display: inline-block; font-family: Arial,Helvetica,sans-serif; font-size: 12px; height: 40px; line-height: 40px; margin: 0 0 0 273px; padding: 0 36px; text-align: center; text-transform: uppercase; }




#foot-border { background-color: #54548E; clear: both; height: 6px; width: 100%; min-width: 1002px; }
#foot { background-color: #000; width: 100%; min-width: 1002px; }
#foot-wrap { height: 220px; width: 972px; margin-right: auto; margin-left: auto; padding-left: 30px; }
.foot-boxs { background-image: url(../images/brabander_winterberg.gif); background-repeat: no-repeat; background-position: left 34px; float: left; width: 210px; }
.foot-txtt { font-family: DINMedium; font-size: 15px; text-transform: uppercase; color: #FFF; width: 186px; padding-top: 26px; padding-left: 24px; }
.foot-link { font-family: DINMedium; font-size: 11px; line-height: 18px; text-transform: uppercase; color: #FFF; height: 140px; width: 186px; padding-top: 12px; padding-left: 24px; }
.foot-link a { color: #FFF;}
.foot-boxl { background-image: url(../images/brabander_winterberg.gif); background-repeat: no-repeat; background-position: left 34px; float: left; width: 342px; }
.foot-social1 { padding-top: 14px; padding-left: 23px; }
.foot-social1 ul li { display: inline; padding-right: 6px; list-style-type: none; }
.foot-social2 { padding-top: 6px; padding-bottom: 56px; padding-left: 23px; }
.foot-social2 ul li { display: inline; padding-right: 6px; list-style-type: none; }
#foot-close { background-color: #FFF; width: 100%; min-width: 1002px; }
#foot-close-wrap { width: 1002px; margin-right: auto; margin-left: auto; }
.foot-close-logo1 { text-align: center; width: 985px; padding-top: 30px; padding-left: 17px; }
.foot-close-logo1 ul li { display: inline; padding-right: 17px; list-style-type: none; }
.foot-close-logo1 img { vertical-align: middle; }
.foot-close-txt { font-family: DINMedium; font-size: 13px; line-height: 18px; color: #828282; text-align: center; width: 1002px; padding-top: 18px; padding-bottom: 36px; }

.ui-datepicker-calendar { }
.ui-datepicker-calendar td.highlight .ui-state-default { background: none repeat scroll 0 0 #ff8000; border-radius: 3px; color: black; }
