@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
@font-face {
	font-family: 'DINMedium';
	src: url('../bus_reis_winterberg_images/DINMedium.eot');
	src: local('DINMedium'), url('../bus_reis_winterberg_images/DINMedium.woff') format('woff'), url('../bus_reis_winterberg_images/DINMedium.ttf') format('truetype');
}
@font-face {
	font-family: 'DINBold';
	src: url('../bus_reis_winterberg_images/DINBold.eot');
	src: local('../bus_reis_winterberg_images/DINBold'), url('../bus_reis_winterberg_images/DINBold.woff') format('woff'), url('../bus_reis_winterberg_images/DINBold.ttf') format('truetype');
}
a:link, a:visited, a:active {
	text-decoration: none;
}
body {
	background-image: url(../bus_reis_winterberg_images/bus_reis_winterberg_dagje_weekend_weer_sneeuw_hotel_bedrijfsuitje_schoolreis_winterbergen_sauerland_duitsland.png);
	background-attachment: fixed;
	background-color: #F7F7F7;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	-webkit-text-size-adjust: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#onder {
	background-color: #FFF;
	height: 96px;
	width: 100%;
	min-width: 1002px;
}
#wrapper {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
#kopw {
	height: 140px;
	width: 1002px;
}
#kopwl {
	float: left;
	height: 140px;
	width: 854px;
}
#language {
	height: 58px;
	padding-top: 7px;
	padding-left: 23px;
}
#language ul li {
	display: inline;
	padding-left: 3px;
	list-style-type: none;
}
#menu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #3A3A3A;
	height: 69px;
	padding-left: 2px;
}
#menu ul li {
	display: inline-block;
	height: 26px;
	padding-right: 23px;
	padding-left: 23px;
	list-style-type: none;
	*display: inline;
}
#menu ul li:hover {
	border-bottom-width: 14px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
#menu ul li a {
	line-height: 26px;
	color: #3A3A3A;
}
#menu ul li a:hover {
	color: #4DC9FF;
}
#kopwr {
	text-align: left;
	float: left;
	height: 125px;
	width: 148px;
	padding-top: 15px;
}
#huur-sub-bg {
	background-color: #FFF;
	clear: both;
	float: left;
	width: 1002px;
	margin-top: 20px;
	margin-bottom: 40px;
}
div.huur-sub-row1 {
	background-color: #E6E7E8;
	float: left;
	width: 979px;
	margin-top: 50px;
	padding-left: 23px;
	height: 60px;
}
div.huur-sub-row1:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.huur-sub-row1 div.inner {
	font-family: DINBold;
	color: #FFF;
	vertical-align: middle;
	display: inline-block;
	font-size: 16px;
}
div.huur-sub-row1 div.inner a{
	color: #FFF;
}
.marg6lr {
	margin-right: 6px;
	margin-left: 6px;
}
.blu1 {
	color: #4DC9FF;
}
#huur-sub-row2 {
	background-color: #E6E7E8;
	width: 982px;
	padding-right: 10px;
	padding-bottom: 56px;
	padding-left: 10px;
	float: left;
}
#huur-sub-row2-wrap {
	float: left;
	width: 938px;
	background-color: #FFF;
	border: 2px solid #000;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
#huur-sub-row2-content {
	float: left;
	width: 938px;
}
#content-row1 {
	width: 938px;
	margin-top: 34px;
}

.content-row1-left {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 34px;
	font-weight: 400;
	color: #4DC9FF;
	float: left;
	width: 469px;
	text-transform: uppercase;
}
.content-row1-right {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 34px;
	font-weight: 400;
	color: #4DC9FF;
	float: left;
	width: 449px;
	text-transform: uppercase;
	text-align: left;
	padding-left: 20px;
}
#content-row2 {
	width: 938px;
	float: left;
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url(../bus_reis_winterberg_images/online_skihuur.png);
}
.content-row2-left {
	float: left;
	width: 469px;
	padding-bottom: 14px;
}
.stoel-row1 {
	width: 469px;
	clear: both;
	float: left;
}
.stoel-row1-left {
	float: left;
	width: 212px;
	padding-top: 10px;
	text-align: center;
	padding-right: 12px;
	margin-bottom: 30px;
}
.slee-row1-left {
	float: left;
	width: 224px;
	padding-top: 10px;
	text-align: center;
	margin-bottom: 30px;
}
.stoel-row1-leftr {
	float: left;
	width: 192px;
	padding-top: 10px;
	text-align: center;
	padding-left: 10px;
}
.stoel-row1-right {
	float: right;
	width: 244px;
	margin-bottom: 30px;
}
.stoel-row1-rightr {
	float: right;
	width: 224px;
}

.price1 {
	width: 244px;
	float: right;
	margin-top: 14px;
}
.price1-row1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #000;
	width: 244px;
}
.price1-row2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-top: 5px;
	font-weight: bold;
	line-height: 15px;
	width: 244px;
}
.price1-row2 ul{
	margin-left: 20px;
}
.price-small {
	font-size: 16px;
}
.price-row3 {
	width: 244px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-top: 23px;
}
.price-row4 {
	width: 244px;
}
.price1-row1r {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #000;
	width: 224px;
}
.price1r {
	width: 224px;
	float: right;
	margin-top: 14px;
}
.price1-row2r {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-top: 5px;
	font-weight: bold;
	line-height: 15px;
	width: 224px;
}
.price1-row2r ul{
	margin-left: 20px;
}
.price-small {
	font-size: 16px;
}
.price1-row3r {
	width: 224px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-top: 23px;
}
.price1-row4r {
	width: 224px;
}
.content-row2-right {
	float: right;
	width: 469px;
	padding-bottom: 14px;
}

.helm-row1 {
	width: 469px;
	height: 109px;
	font-family: DINMedium;
	font-size: 10px;
	color: #CCC;
	text-transform: uppercase;
	margin-bottom: 10px;
	text-align: right;
}

.form-option1 {
	float: left;
}
.form-option1r {
	float: left;
	margin-left: 20px;
}
#content-row3 {
	width: 938px;
	margin-top: 25px;
	float: left;
}
.content-row3-left {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 34px;
	font-weight: 400;
	color: #4DC9FF;
	float: left;
	width: 469px;
	text-transform: uppercase;
}
.content-row3-right {
	font-family: DINMedium;
	font-size: 34px;
	font-weight: 400;
	color: #4DC9FF;
	float: left;
	width: 449px;
	text-transform: uppercase;
	text-align: left;
	padding-left: 20px;
}
#content-row4 {
	width: 938px;
	float: left;
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url(../bus_reis_winterberg_images/online_skihuur.png);
}
.content-row4-left {
	float: left;
	width: 469px;
	padding-bottom: 14px;
}
.content-row4-right {
	float: right;
	width: 469px;
	padding-bottom: 14px;
}
.ski-row1 {
	width: 458px;
	height: 109px;
	background-repeat: no-repeat;
	background-image: url(../bus_reis_winterberg_images/ski_schoenen_huur.png);
	font-family: DINMedium;
	font-size: 10px;
	color: #CCC;
	text-transform: uppercase;
	background-position: 13px;
	margin-bottom: 10px;
	padding-left: 11px;
}
.ski-row1r {
	width: 469px;
	height: 109px;
	background-repeat: no-repeat;
	background-image: url(../bus_reis_winterberg_images/snowboard_schoenen_huur.png);
	font-family: DINMedium;
	font-size: 10px;
	color: #CCC;
	text-transform: uppercase;
	background-position: 13px;
	margin-bottom: 10px;
	text-align: right;
}
.ski-row2 {
	width: 469px;
	font-family: DINMedium;
	font-size: 12px;
	font-weight: bold;
}
.ski-row2r {
	width: 449px;
	font-family: DINMedium;
	font-size: 12px;
	font-weight: bold;
	padding-left: 20px;
}
.ski-row3 {
	width: 469px;
}
.ski-row3r {
	width: 469px;
	float: left;
}


.linethr {
	font-size: 16px;
	background-image: url(../bus_reis_winterberg_images/linethr.png);
	background-repeat: repeat-x;
	background-position: left center;
}

.price2 {
	width: 240px;
	float: right;
	margin-right: 20px;
	margin-bottom: 14px;
}
.price2-row1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #000;
	width: 240px;
}
.price2-row2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-top: 5px;
	font-weight: bold;
	line-height: 15px;
}
.price2-row2 ul{
	margin-left: 20px;
}
.price-small {
	font-size: 16px;
}

#ski-sub,
#snowboard-sub,
#langlauf-sub
 {
	font-family: DINMedium;
	font-size: 12px;
	font-weight: bold;
	float: left;
}
#snowboard-sub   {
	font-family: DINMedium;
	font-size: 12px;
	font-weight: bold;
	float: left;
	padding-left: 20px;
}

.ski-row4 {
	width: 469px;
	margin-bottom: 14px;
	float: left;
}


.ski-huur {
}

.input-next-eerste {
	float:left;
	display:inline-block;
	margin-right: 4px;
}

.input-next {
	float:left;
	display:inline-block;
	margin-left: 8px;
}
.ski-naam {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	padding: 11px;
	width:160px;
	border: 1px solid #D7D7D7;
	font-size: 15px;
	margin-top: 3px;
	margin-bottom: 6px;
}


.ski-maat {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	padding: 11px;
	width:25px;
	border: 1px solid #D7D7D7;
	font-size: 15px;
	margin-top: 3px;
	margin-bottom: 6px;
}
.text-input1 {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 34px;
	color: #000;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 7px;
	border: 1px solid #D7D7D7;
	font-size: 15px;
	margin-bottom: 18px;
	margin-top: 3px;
	width: 140px;
}
#content-row5 {
	width: 938px;
	margin-top: 25px;
	float: left;
}
.content-row5-left {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 34px;
	font-weight: 400;
	color: #4DC9FF;
	float: left;
	width: 469px;
	text-transform: uppercase;
}
.content-row5-right {
	font-family: DINMedium;
	font-size: 34px;
	font-weight: 400;
	color: #4DC9FF;
	float: left;
	width: 449px;
	text-transform: uppercase;
	text-align: left;
	padding-left: 20px;
}
#content-row6 {
	width: 938px;
	float: left;
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url(../bus_reis_winterberg_images/online_skihuur.png);
}
.content-row6-left {
	float: left;
	width: 469px;
	padding-bottom: 14px;
}
.content-row6-right {
	float: right;
	width: 469px;
	padding-bottom: 14px;
}
.worst-row1-left {
	float: left;
	width: 197px;
	padding-top: 10px;
	text-align: center;
	margin-bottom: 30px;
	padding-left: 15px;
}
.langlauf-row1 {
	width: 458px;
	height: 109px;
	background-repeat: no-repeat;
	font-family: DINMedium;
	font-size: 10px;
	color: #CCC;
	text-transform: uppercase;
	background-position: 13px;
	margin-bottom: 10px;
	padding-left: 11px;
	background-image: url(../bus_reis_winterberg_images/nordic_touring_langlaufski_huren_winterberg.png);
}
#foot-border {
	background-color: #54548E;
	clear: both;
	height: 6px;
	width: 100%;
	min-width: 1002px;
}
#foot {
	background-color: #000;
	width: 100%;
	min-width: 1002px;
}
#foot-wrap {
	height: 220px;
	width: 972px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
}
.foot-boxs {
	background-image: url(../bus_reis_winterberg_images/brabander_winterberg.gif);
	background-repeat: no-repeat;
	background-position: left 34px;
	float: left;
	width: 210px;
}
.foot-txtt {
	font-family: DINMedium;
	font-size: 15px;
	text-transform: uppercase;
	color: #FFF;
	width: 186px;
	padding-top: 26px;
	padding-left: 24px;
}
.foot-link {
	font-family: DINMedium;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFF;
	height: 140px;
	width: 186px;
	padding-top: 12px;
	padding-left: 24px;
}
.foot-link a {
	color: #FFF;
}
.foot-boxl {
	background-image: url(../bus_reis_winterberg_images/brabander_winterberg.gif);
	background-repeat: no-repeat;
	background-position: left 34px;
	float: left;
	width: 342px;
}
.foot-social1 {
	padding-top: 14px;
	padding-left: 23px;
}
.foot-social1 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
.foot-social2 {
	padding-top: 6px;
	padding-bottom: 56px;
	padding-left: 23px;
}
.foot-social2 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
#foot-close {
	background-color: #FFF;
	width: 100%;
	min-width: 1002px;
}
#foot-close-wrap {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
.foot-close-logo1 {
	text-align: center;
	width: 985px;
	padding-top: 30px;
	padding-left: 17px;
}
.foot-close-logo1 ul li {
	display: inline;
	padding-right: 17px;
	list-style-type: none;
}
.foot-close-logo1 img {
	vertical-align: middle;
}
.foot-close-txt {
	font-family: DINMedium;
	font-size: 13px;
	line-height: 18px;
	color: #828282;
	text-align: center;
	width: 1002px;
	padding-top: 18px;
	padding-bottom: 36px;
}
.content-row1-leftCopy {
	font-family: DINMedium;
	font-size: 40px;
	font-weight: 400;
	color: #000;
	float: left;
	width: 469px;
	margin-bottom: 7px;
}
