@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
@font-face {
	font-family: 'DINMedium';
	src: url('../bus_reis_winterberg_images/DINMedium.eot');
	src: local('DINMedium'), url('../bus_reis_winterberg_images/DINMedium.woff') format('woff'), url('../bus_reis_winterberg_images/DINMedium.ttf') format('truetype');
}
@font-face {
	font-family: 'DINBold';
	src: url('../bus_reis_winterberg_images/DINBold.eot');
	src: local('../bus_reis_winterberg_images/DINBold'), url('../bus_reis_winterberg_images/DINBold.woff') format('woff'), url('../bus_reis_winterberg_images/DINBold.ttf') format('truetype');
}
a:link, a:visited, a:active {
	text-decoration: none;
}
body {
	background-color: #DCDDDE;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	-webkit-text-size-adjust: none;
}
#onder {
	background-color: #FFF;
	height: 96px;
	width: 100%;
	min-width: 1002px;
}
#wrapper {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
#kopw {
	height: 140px;
	width: 1002px;
}
#kopwl {
	float: left;
	height: 140px;
	width: 854px;
}
#language {
	height: 58px;
	padding-top: 7px;
	padding-left: 23px;
}
#language ul li {
	display: inline;
	padding-left: 3px;
	list-style-type: none;
}
#menu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 42px;
	font-weight: bold;
	color: #3A3A3A;
	height: 69px;
	padding-left: 18px;
	padding-top: 30px;
}
#menu ul li {
	display: inline-block;
	height: 26px;
	padding-right: 23px;
	padding-left: 23px;
	list-style-type: none;
	*display: inline;
}
#menu ul li:hover {
	border-bottom-width: 14px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
#menu ul li a {
	line-height: 26px;
	color: #3A3A3A;
}
#menu ul li a:hover {
	color: #4DC9FF;
}
#kopwr {
	text-align: left;
	float: left;
	height: 125px;
	width: 148px;
	padding-top: 15px;
}
#banner-kruitvat {
	width: 1002px;
	float: left;
}

#sub-wrap-actie {
	clear: both;
	float: left;
	width: 987px;
	margin-top: 20px;
	margin-bottom: 100px;
	padding-left: 15px;
	padding-top: 15px;
}
#actie-left {
	float: left;
	height: 400px;
	width: 400px;
}
#actie-right {
	float: right;
	width: 562px;
}
.actie-right-row1 {
	text-align: left;
	width: 562px;
	margin-top: 15px;
}
.actie-right-row2 {
	font-family: DINMedium;
	font-size: 33px;
	text-transform: uppercase;
	color: #002157;
	width: 562px;
	padding-top: 26px;
	padding-bottom: 16px;
}
.br12 {
	line-height: 12px;
}
.actie-right-row3-gre {
	font-family: DINMedium;
	font-size: 16px;
	line-height: 22px;
	color: #000;
	padding: 13px;
	width: 454px;
	border: 1px solid #373737;
	float: left;
}
.actie-right-row3-gre a {
	color: #82B548;
}
.actie-right-row3-gre a:hover {
	color: #A4CA79;
}
.actie-right-row5 {
	width: 480px;
	font-family: DINMedium;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	text-transform: none;
	color: #000;
	text-align: center;
}
.actie-right-row6 {
	width: 562px;
}
.button-gre-top {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #82B548;
	text-align: center;
	display: inline-block;
	height: 45px;
	width: 482px;
	border: 2px solid #82B548;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-appearance: none;
	font-weight: bold;
	margin-top: 12px;
}
.button-gre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #82B548;
	text-align: center;
	display: inline-block;
	height: 45px;
	width: 482px;
	border: 2px solid #82B548;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-appearance: none;
	font-weight: bold;
	margin-top: 16px;
}
.button-grevv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #0072BC;
	text-align: center;
	display: inline-block;
	height: 45px;
	width: 482px;
	border: 2px solid #0072BC;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-appearance: none;
	font-weight: bold;
	margin-top: 16px;
}
.button-grekr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #E2001C;
	text-align: center;
	display: inline-block;
	height: 45px;
	width: 482px;
	border: 2px solid #E2001C;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-appearance: none;
	font-weight: bold;
	margin-top: 16px;
}
.button-whi-gre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #82B548;
	background-color: #FFF;
	text-align: center;
	display: inline-block;
	height: 45px;
	width: 482px;
	border: 2px solid #82B548;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-appearance: none;
	font-weight: bold;
	margin-top: 14px;
}
.actie-sub-right-row2 {
	width: 480px;
	font-family: DINMedium;
	font-size: 18px;
	line-height: 22px;
	padding-top: 24px;
	text-transform: none;
	color: #000;
	text-align: center;
	float: left;
	font-weight: bold;
}
.actie-sub-right-row2red {
	width: 454px;
	font-family: DINMedium;
	font-size: 18px;
	line-height: 22px;
	padding-top: 12px;
	text-transform: none;
	color: #F00;
	text-align: center;
	float: left;
	font-weight: bold;
	padding-bottom: 12px;
	border: 1px solid #000;
	padding-right: 12px;
	padding-left: 12px;
}
.actie-sub-right-row2 a{
	color: #82B548;
	font-style: italic;
	font-weight: normal;
}
.actie-sub-right-row2 a:hover{
	color: #A4CA79;
	font-style: italic;
	font-weight: normal;
}
.actie-sub-right-row3 {
	width: 562px;
	float: left;
	margin-bottom: 6px;
}
.actie-sub-right-row3vv {
	width: 562px;
	float: left;
	margin-bottom: 6px;
}
.actie-sub-right-row4 {
	width: 480px;
	font-family: DINMedium;
	font-size: 18px;
	line-height: 22px;
	padding-top: 18px;
	text-transform: none;
	color: #000;
	text-align: center;
	float: left;
	font-weight: bold;
}
.actie-sub-right-row4 a{
	color: #82B548;
	font-style: italic;
	font-weight: normal;
}
.actie-sub-right-row4 a:hover{
	color: #A4CA79;
	font-style: italic;
	font-weight: normal;
}
.actie-sub-right-row4vv {
	width: 480px;
	font-family: DINMedium;
	font-size: 18px;
	line-height: 22px;
	padding-top: 18px;
	text-transform: none;
	color: #000;
	text-align: center;
	float: left;
	font-weight: bold;
}
.actie-sub-right-row4vv a{
	color: #0072BC;
	font-style: italic;
	font-weight: normal;
}
.actie-sub-right-row4vv a:hover{
	color: #0095F9;
	font-style: italic;
	font-weight: normal;
}
.actie-sub-right-row4kr {
	width: 480px;
	font-family: DINMedium;
	font-size: 18px;
	line-height: 22px;
	padding-top: 18px;
	text-transform: none;
	color: #000;
	text-align: center;
	float: left;
	font-weight: bold;
}
.actie-sub-right-row4kr a{
	color: #E2001C;
	font-style: italic;
	font-weight: normal;
}
.actie-sub-right-row4kr a:hover{
	color: #FF4F65;
	font-style: italic;
	font-weight: normal;
}
.redi {
	font-style: italic;
	color: #E2001C;
	font-weight: normal;
}

.blui {
	font-style: italic;
	color: #0072BC;
	font-weight: normal;
}

.form-option1 {
	float: left;
	margin-top: 14px;
	text-align: center;
	width: 482px;
}
.text-input1 {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 34px;
	color: #000;
	width: 482px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 7px;
	border: 1px solid #D7D7D7;
	font-size: 15px;
	margin-bottom: 6px;
}
.text-input2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	padding: 11px;
	width: 458px;
	border: 1px solid #D7D7D7;
	font-size: 15px;
	margin-bottom: 6px;
}
#reizigers-sub {
	font-family: DINMedium;
	font-size: 13px;
	font-weight: bold;
}
.text-input3 {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	padding: 11px;
	width: 458px;
	border: 1px solid #D7D7D7;
	font-size: 15px;
	margin-top: 3px;
	margin-bottom: 6px;
}

.groupon-veld {
float:left;
width:234px;
padding:3px 0;
}

.groupon-input {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	padding: 11px;
	width:210px;
	border: 1px solid #D7D7D7;
	font-size: 15px;
	margin-top: 3px;
	margin-bottom: 6px;
}
#groupons-sub,
#ski-sub,
#snowboard-sub,
#langlauf-sub {
	font-family: DINMedium;
	font-size: 12px;
	font-weight: bold;
}

.ski-huur {
}

.input-next-eerste {
	float:left;
	display:inline-block;
	margin-right: 4px;
}

.input-next {
	float:left;
	display:inline-block;
	margin-left: 8px;
}
.ski-naam {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	padding: 11px;
	width:210px;
	border: 1px solid #D7D7D7;
	font-size: 15px;
	margin-top: 3px;
	margin-bottom: 6px;
}

.ski-maat {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	padding: 11px;
	width:29px;
	border: 1px solid #D7D7D7;
	font-size: 15px;
	margin-top: 3px;
	margin-bottom: 6px;
}
	
.form-option2 {
	float: left;
	margin-top: 14px;
	width: 482px;
	text-align: right;
	background-image: url(../bus_reis_winterberg_images/bedrijfsuitjes_schoolreizen.png);
	background-repeat: no-repeat;
}
.buttongo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #82B548;
	text-align: center;
	display: inline-block;
	height: 41px;
	padding-right: 36px;
	padding-left: 36px;
	border: 2px solid #82B548;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-appearance: none;
	margin-top: 14px;
}
.buttongovv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	background-color: #0072BC;
	text-align: center;
	display: inline-block;
	height: 41px;
	padding-right: 36px;
	padding-left: 36px;
	border: 2px solid #0072BC;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-appearance: none;
	margin-top: 14px;
	font-weight: bold;
	color: #FFF;
}
.buttongokr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	background-color: #E2001C;
	text-align: center;
	display: inline-block;
	height: 41px;
	padding-right: 36px;
	padding-left: 36px;
	border: 2px solid #E2001C;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-appearance: none;
	margin-top: 14px;
	font-weight: bold;
	color: #FFF;
}
#footkr {
	background-color: #838a96;
	width: 100%;
	min-width: 1002px;
	clear: both;
}
#foothe {
	background-color: #0072BC;
	width: 100%;
	min-width: 1002px;
	clear: both;
}
#foot-wrap {
	height: 242px;
	width: 972px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
}
.foot-boxs {
	float: left;
	width: 210px;
}
.foot-txtt {
	font-family: DINMedium;
	font-size: 15px;
	text-transform: uppercase;
	color: #FFF;
	width: 186px;
	padding-top: 26px;
	padding-left: 24px;
}
.foot-link {
	font-family: DINMedium;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFF;
	height: 164px;
	width: 186px;
	padding-top: 12px;
	padding-left: 24px;
}
.foot-link a {
	color: #FFF;
}
.foot-boxl {
	float: left;
	width: 342px;
	color: #b5d7ec;
}
.foot-social1 {
	padding-top: 14px;
	padding-left: 23px;
}
.foot-social1 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
.foot-social2 {
	padding-top: 6px;
	padding-bottom: 56px;
	padding-left: 23px;
	color: #FFF;
}
.foot-social2 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
#foot-close {
	background-color: #FFF;
	width: 100%;
	min-width: 1002px;
}
#foot-close-wrap {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
.foot-close-logo1 {
	text-align: center;
	width: 985px;
	padding-top: 30px;
	padding-left: 17px;
}
.foot-close-logo1 ul li {
	display: inline;
	padding-right: 17px;
	list-style-type: none;
}
.foot-close-logo1 img {
	vertical-align: middle;
}
.foot-close-txt {
	font-family: DINMedium;
	font-size: 13px;
	line-height: 18px;
	color: #FFF;
	text-align: center;
	width: 1002px;
	padding-top: 18px;
	padding-bottom: 36px;
}
.red {
	font-size: 16px;
	color: #F00;
}
