@charset "utf-8";
/* CSS Document */

.formoptionmail {
	margin-bottom: 8px;
}
.textlabelmail {
	float: left;
	width: 90px;
}
#bericht {
	height: 150px;
	width: 400px;
	resize: none;
}
#buttonmail {
	text-align: center;
	float: left;
	height: 26px;
	width: 63px;
	margin-top: 5px;
	margin-bottom: 76px;
	margin-left: 89px;
}
.formoptionaan {
	margin-bottom: 14px;
	clear: both;
}
.textlabelaan {
	float: left;
	width: 130px;
}
.check {
	float: left;
	width: 295px;
	margin-bottom: 11px;
}
.check1 {
	float: left;
	width: 295px;
	margin-right: 5px;
	margin-bottom: 6px;
}
.check2 {
	float: left;
	width: 295px;
	margin-right: 5px;
}
#checkbox {
	margin-right: 5px;
}
#berichtmeer {
	height: 150px;
	width: 314px;
	resize: none;
}
select, option {
	width: 153px;
}
#akkoord {
	margin-right: 2px;
	margin-left: 130px;
}
#buttonacc {
	text-align: center;
	float: left;
	height: 26px;
	width: 73px;
	margin-top: 6px;
	margin-bottom: 76px;
	margin-left: 129px;
}
#buttonacc2 {
	text-align: center;
	float: left;
	height: 26px;
	width: 73px;
	margin-top: 6px;
	margin-bottom: 30px;
	margin-left: 129px;
}
.inactief {
	opacity: 0.4;
	filter: alpha(opacity=40);
}
.actief {
	cursor: pointer;
}
