@charset "utf-8";
/* CSS Document */

#front-row1 {
	float: left;
	height: 216px;
	width: 924px;
}
.front-box1 {
	width: 216px;
	margin-right: 20px;
	float: left;
	height: 216px;
}
.front-box2 {
	float: left;
	height: 216px;
	width: 216px;
	margin-right: 20px;
}
.front-box3 {
	float: left;
	height: 216px;
	width: 216px;
	margin-right: 20px;
}
.front-box4 {
	float: left;
	height: 216px;
	width: 216px;
}

* {
	margin: 0px;
	padding: 0px;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
@font-face {
	font-family: 'DINMedium';
	src: url('../bus_reis_winterberg_images/DINMedium.eot');
	src: local('DINMedium'), url('../bus_reis_winterberg_images/DINMedium.woff') format('woff'), url('../bus_reis_winterberg_images/DINMedium.ttf') format('truetype');
}
@font-face {
	font-family: 'DINBold';
	src: url('../bus_reis_winterberg_images/DINBold.eot');
	src: local('../bus_reis_winterberg_images/DINBold'), url('../bus_reis_winterberg_images/DINBold.woff') format('woff'), url('../bus_reis_winterberg_images/DINBold.ttf') format('truetype');
}
a:link, a:visited, a:active {
	text-decoration: none;
}
body {
	background-image: url(../bus_reis_winterberg_images/bus_reis_winterberg_dagje_weekend_weer_sneeuw_hotel_bedrijfsuitje_schoolreis_winterbergen_sauerland_duitsland.png);
	background-attachment: fixed;
	background-color: #F7F7F7;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	-webkit-text-size-adjust: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#onder2 {
	background-color: #FFF;
	height: 96px;
	width: 100%;
	min-width: 1020px;
	z-index: 5;
	position:fixed;
}
#wrapper {
	width: 1020px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 56px;
}
#kopw {
	height: 140px;
	width: 1020px;
	margin-right: auto;
	margin-left: auto;
}
#kopwl {
	float: left;
	height: 140px;
	width: 863px;
}
#language {
	height: 58px;
	padding-top: 7px;
	padding-left: 23px;
}
#language ul li {
	display: inline;
	padding-left: 3px;
	list-style-type: none;
}
#menu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #3A3A3A;
	height: 69px;
	padding-left: 2px;
}
#menu ul li {
	display: inline-block;
	height: 26px;
	padding-right: 23px;
	padding-left: 23px;
	list-style-type: none;
	*display: inline;
}
#menu ul li:hover {
	border-bottom-width: 14px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
#menu ul li a {
	line-height: 26px;
	color: #3A3A3A;
	text-decoration: none;
	height: 26px;
}
#menu ul li a:hover {
	color: #4DC9FF;
}
#kopwr {
	text-align: left;
	float: left;
	height: 125px;
	width: 157px;
	padding-top: 15px;
}
#frontnew {
	clear: both;
	width: 980px;
	padding-top: 40px;
	padding-bottom: 20px;
	background-color: #FFF;
	padding-left: 40px;
	height: 200px;
}
#bookvooraf {
	height: 150px;
}
#book-clear {
	height: 470px;
	width: 1020px;
	position: relative;
	z-index: 4;
	top: -470px;
}
#book-content {
	height: 450px;
	width: 1020px;
	padding-top: 20px;
	overflow: auto;
}
#tabs {
	float: left;
	height: 195px;
	width: 25px;
	padding-top: 43px;
}
#fancy {
	clear: both;
	width: 1020px;
	background-color: #FFF;
}
#fancy-left {
	float: left;
	width: 460px;
	padding-right: 10px;
	padding-left: 40px;
	padding-top: 40px;
	background-color: #FFF;
	height: 382px;
}
#fancy-box1 {
	float: left;
	width: 220px;
}
.fancy-txtt {
	font-family: "Open Sans";
	font-size: 18px;
	line-height: 22px;
	color: #002157;
	height: 53px;
	width: 220px;
}
.fancy-txttl1 {
	font-weight: 800;
	color: #002157;
	text-decoration: none;
}
.fancy-img {
	height: 220px;
	width: 220px;
}
.fancy-txtm {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: #9A9EAF;
	width: 220px;
	padding-top: 14px;
}
.fancy-txtmf3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: #9A9EAF;
	width: 220px;
	padding-top: 8px;
}
.fancy-linkw {
	width: 220px;
}
.fancy-linkwl {
	float: left;
	width: 91px;
	padding-top: 9px;
}
.fancy-linkwl p {
	font-family: "Open Sans";
	font-size: 11px;
	font-weight: 800;
	color: #000;
}
.fancy-linkwl h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 46px;
	line-height: 42px;
	font-weight: lighter;
	color: #4DC9FF;
}
.fancy-linkwr {
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 800;
	color: #652D8A;
	text-align: right;
	float: left;
	width: 124px;
	padding-top: 41px;
	padding-right: 5px;
}
.fancy-linkwr a {
	color: #652D8A;
	text-decoration: none;
	background-image: url(../bus_reis_winterberg_images/winterberg_pijl_off.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 30px;
}
.fancy-linkwr a:hover {
	color: #8D57A5;
	background-image: url(../bus_reis_winterberg_images/winterberg_pijl_on.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#fancy-box2 {
	float: right;
	width: 220px;
}
.fancy-txttl2 {
	color: #002157;
	text-decoration: none;
}
#fancy-right {
	float: left;
	width: 460px;
	padding-top: 40px;
	padding-right: 40px;
	padding-left: 10px;
	background-color: #FFF;
	height: 382px;
}
#fancy-box3 {
	float: left;
	width: 220px;
}
#fancy-box4 {
	float: right;
	width: 220px;
}
.fancy-link {
	font-family: "Open Sans";
	font-size: 13px;
	line-height: 18px;
	font-weight: 800;
	color: #3A3A3A;
	width: 222px;
	padding-top: 14px;
}
.fancy-link a {
	color: #3A3A3A;
	text-decoration: none;
}
.fancy-link a:hover {
	color: #6D6D6D;
}
#fancy2 {
	clear: both;
	height: 500px;
	width: 1020px;
	background-color: #FFF;
}
#fancy-left2 {
	float: left;
	width: 460px;
	padding-right: 10px;
	padding-left: 40px;
	margin-top: 18px;
}
#fancy-right2 {
	float: left;
	width: 460px;
	padding-right: 40px;
	padding-left: 10px;
	margin-top: 18px;
}
#fancy3 {
	clear: both;
	width: 1020px;
	background-color: #FFF;
	padding-top: 20px;
}
#fancy-left3 {
	float: left;
	width: 460px;
	padding-right: 10px;
	padding-left: 40px;
	padding-top: 40px;
	background-color: #FFF;
	height: 360px;
}
#fancy-right3 {
	float: left;
	width: 460px;
	padding-top: 40px;
	padding-right: 40px;
	padding-left: 10px;
	background-color: #FFF;
	height: 360px;
}
#fancy-box33 {
	float: left;
	width: 460px;
}
.fancy-txtt3 {
	font-family: "Open Sans";
	font-size: 18px;
	line-height: 22px;
	color: #002157;
	height: 53px;
	width: 460px;
}

#foot-border {
	background-color: #54548E;
	clear: both;
	height: 6px;
	width: 100%;
	min-width: 1002px;
}
#foot {
	background-color: #000;
	width: 100%;
	min-width: 1002px;
}
#foot-wrap {
	height: 220px;
	width: 972px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
}
.foot-boxs {
	background-image: url(../bus_reis_winterberg_images/brabander_winterberg.gif);
	background-repeat: no-repeat;
	background-position: left 34px;
	float: left;
	width: 210px;
}
.foot-txtt {
	font-family: DINMedium;
	font-size: 15px;
	text-transform: uppercase;
	color: #FFF;
	width: 186px;
	padding-top: 26px;
	padding-left: 24px;
}
.foot-link {
	font-family: DINMedium;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFF;
	height: 140px;
	width: 186px;
	padding-top: 12px;
	padding-left: 24px;
}
.foot-link a {
	color: #FFF;
}
.foot-boxl {
	background-image: url(../bus_reis_winterberg_images/brabander_winterberg.gif);
	background-repeat: no-repeat;
	background-position: left 34px;
	float: left;
	width: 342px;
}
.foot-social1 {
	padding-top: 14px;
	padding-left: 23px;
}
.foot-social1 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
.foot-social2 {
	padding-top: 6px;
	padding-bottom: 56px;
	padding-left: 23px;
}
.foot-social2 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
#foot-close {
	background-color: #FFF;
	width: 100%;
	min-width: 1002px;
}
#foot-close-wrap {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
.foot-close-logo1 {
	text-align: center;
	width: 985px;
	padding-top: 30px;
	padding-left: 17px;
}
.foot-close-logo1 ul li {
	display: inline;
	padding-right: 17px;
	list-style-type: none;
}
.foot-close-logo1 img {
	vertical-align: middle;
}
.foot-close-txt {
	font-family: DINMedium;
	font-size: 13px;
	line-height: 18px;
	color: #828282;
	text-align: center;
	width: 1002px;
	padding-top: 18px;
	padding-bottom: 36px;
}
