@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #EDEDED;
}
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	-webkit-text-size-adjust: none;
	background-color: #F7F7F7;
}
@font-face {
	font-family: 'DINMedium';
	src: url('../bus_reis_winterberg_images/DINMedium.eot');
	src: local('DINMedium'), url('../bus_reis_winterberg_images/DINMedium.woff') format('woff'), url('../bus_reis_winterberg_images/DINMedium.ttf') format('truetype');
}
@font-face {
	font-family: 'DINBold';
	src: url('../bus_reis_winterberg_images/DINBold.eot');
	src: local('../bus_reis_winterberg_images/DINBold'), url('../bus_reis_winterberg_images/DINBold.woff') format('woff'), url('../bus_reis_winterberg_images/DINBold.ttf') format('truetype');
}
a:link, a:visited, a:active {
	text-decoration: none;
}
#onder {
	height: 96px;
	width: 100%;
	min-width: 1002px;
}
#wrapper {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
#kopw {
	height: 140px;
	width: 1002px;
}
#kopwl {
	float: left;
	height: 140px;
	width: 854px;
}
#language {
	height: 58px;
	padding-top: 7px;
	padding-left: 23px;
}
#language ul li {
	display: inline;
	padding-left: 3px;
	list-style-type: none;
}
#menu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #3A3A3A;
	height: 69px;
	padding-left: 2px;
}
#menu ul li {
	display: inline-block;
	height: 26px;
	padding-right: 23px;
	padding-left: 23px;
	list-style-type: none;
	*display: inline;
}
#menu ul li:hover {
	border-bottom-width: 14px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
#menu ul li a {
	line-height: 26px;
	color: #3A3A3A;
	text-decoration: none;
	height: 26px;
}
#menu ul li a:hover {
	color: #4DC9FF;
}
#kopwr {
	text-align: left;
	float: left;
	height: 125px;
	width: 148px;
	padding-top: 15px;
}
#content {
	clear: both;
	width: 966px;
	padding-right: 18px;
	padding-left: 18px;
}
#content2 {
	clear: both;
	width: 966px;
	padding-right: 18px;
	padding-left: 18px;
	margin-top: 40px;
	margin-bottom: 76px;
}
#content-box1 {
	float: left;
	width: 400px;
}
.content-img {
	width: 398px;
	border: 1px solid #9C9C9C;
	-webkit-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
}
.content-imgbr {
	height: 40px;
	width: 400px;
}
.content-imgcl {
	height: 76px;
	width: 400px;
}
.content-imgclpas {
	height: 120px;
	width: 400px;
}
.content-imgclpas76 {
	height: 120px;
	width: 400px;
	margin-bottom: 64px;
}
.content-vakantieveilingen {
	width: 400px;
	margin-bottom: 15px;
}
#content-logo {
	float: left;
	width: 400px;
	margin-bottom: 76px;
}
#content-cam {
	float: left;
	width: 400px;
}
#caml {
	float: left;
	width: 190px;
}
#camr {
	float: right;
	width: 190px;
}
.cambox {
	background-color: #FFF;
	width: 190px;
	margin-bottom: 15px;
	-webkit-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
}
.camtt {
	font-family: "Open Sans";
	font-size: 11px;
	font-weight: bold;
	color: #002157;
	width: 180px;
	padding-top: 7px;
	padding-left: 10px;
}
.cam {
	height: 128px;
	width: 180px;
	padding-top: 4px;
	padding-left: 10px;
}
.camin {
	width: 180px;
	padding-top: 8px;
	padding-bottom: 7px;
	padding-left: 10px;
}
.camin ul li {
	display: inline;
	padding-right: 1px;
	list-style-type: none;
}
.camboxc {
	background-color: #FFF;
	width: 190px;
	margin-bottom: 76px;
	-webkit-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
}
#content-box2 {
	float: right;
	width: 535px;
}
.content-txtt {
	font-family: "Open Sans";
	font-size: 47px;
	font-weight: 400;
	color: #002157;
	width: 535px;
	padding-bottom: 13px;
	padding-top: 25px;
}
.content-txtm {
	font-family: "Open Sans";
	font-size: 17px;
	line-height: 24px;
	color: #616161;
	width: 535px;
	padding-bottom: 70px;
}
.content-txtmbr {
	line-height: 12px;
}
.content-txtmtt {
	font-weight: bold;
	color: #002157;
}
.content-txtm a {
	font-weight: bold;
	color: #652D8A;
	text-decoration: none;
}
.content-txtm a:hover {
	color: #8D57A5;
}
.content-txtm ul li {
	margin-left: 30px;
}
.content-txtm ol li {
	margin-left: 36px;
}
.content-txtmio {
	font-style: italic;
	color: #FF9B05;
}
.content-txtmtb {
	font-family: "Open Sans";
	font-size: 17px;
	line-height: 24px;
	color: #616161;
	width: 535px;
	padding-bottom: 11px;
}
.content-txtmtb a {
	font-weight: bold;
	color: #652D8A;
	text-decoration: none;
}
.content-txtmtb a:hover {
	color: #8D57A5;
}
.content-txtmtb ul li {
	margin-left: 30px;
}
.content-txtmbp {
	font-weight: bold;
	color: #652D8A;
}
.content-txtmail {
	font-family: "Open Sans";
	font-size: 12px;
	color: #616161;
	width: 535px;
	padding-top: 9px;
}
.content-txtaan {
	font-family: "Open Sans";
	font-size: 12px;
	color: #616161;
	width: 535px;
}
.content-txtaan a {
	font-weight: bold;
	color: #652D8A;
	text-decoration: none;
}
#time-top {
	background-color: #FFF;
	width: 947px;
	margin-top: 20px;
	padding-top: 19px;
	padding-bottom: 14px;
	padding-left: 19px;
}
#time-bot {
	font-size: 12px;
	color: #8E8E8E;
	text-align: left;
	width: 927px;
	padding-top: 15px;
	padding-bottom: 73px;
	padding-left: 39px;
}
#time-bot a {
	font-weight: bold;
	color: #652D8A;
	text-decoration: none;
}
.link1 {
	font-weight: bold;
	color: #652D8A;
	text-decoration: none;
}
#tabel1 {
	clear: both;
	width: 994px;
	padding-right: 8px;
}
#meer-top {
	width: 944px;
	margin-top: 20px;
	padding-top: 40px;
	padding-left: 22px;
	background-image: url(../bus_reis_winterberg_images/winterberg_kerstvakantie_voorjaarsvakantie_carnavalsvakantie_krokusvakantie_paasvakantie.png);
	background-repeat: no-repeat;
	background-position: 605px bottom;
	background-color: #FFF;
}
#meer-mid {
	background-color: #FFF;
	height: 628px;
	width: 946px;
	margin-bottom: 76px;
	padding-right: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
}
#meer-left {
	float: left;
	width: 416px;
	margin-top: 22px;
	margin-left: 12px;
}
.meer-leftimg {
	height: 277px;
	width: 416px;
}
.meer-lefttxt {
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 21px;
	color: #3675AE;
	padding-top: 16px;
	padding-right: 5px;
	padding-left: 2px;
}
.meer-lefttxt a {
	font-weight: bold;
	color: #652D8A;
	text-decoration: none;
}
.meer-lefttxt a:hover {
	color: #8D57A5;
}
#meer-right {
	float: right;
	width: 480px;
	margin-top: 22px;
	margin-right: 12px;
}
#foot-border {
	background-color: #54548E;
	clear: both;
	height: 6px;
	width: 100%;
	min-width: 1002px;
}
#foot {
	background-color: #000;
	width: 100%;
	min-width: 1002px;
}
#foot-wrap {
	height: 242px;
	width: 972px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
}
.foot-boxs {
	background-image: url(../bus_reis_winterberg_images/midweek_brabander_winterberg.png);
	background-repeat: no-repeat;
	background-position: left 34px;
	float: left;
	width: 210px;
}
.foot-txtt {
	font-family: DINMedium;
	font-size: 15px;
	text-transform: uppercase;
	color: #FFF;
	width: 186px;
	padding-top: 26px;
	padding-left: 24px;
}
.foot-link {
	font-family: DINMedium;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFF;
	height: 164px;
	width: 186px;
	padding-top: 12px;
	padding-left: 24px;
}
.foot-link a {
	color: #FFF;
}
.foot-boxl {
	background-image: url(../bus_reis_winterberg_images/midweek_brabander_winterberg.png);
	background-repeat: no-repeat;
	background-position: left 34px;
	float: left;
	width: 342px;
}
.foot-social1 {
	padding-top: 14px;
	padding-left: 23px;
}
.foot-social1 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
.foot-social2 {
	padding-top: 6px;
	padding-bottom: 56px;
	padding-left: 23px;
}
.foot-social2 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
#foot-close {
	background-color: #FFF;
	width: 100%;
	min-width: 1002px;
}
#foot-close-wrap {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
.foot-close-logo1 {
	text-align: center;
	width: 985px;
	padding-top: 30px;
	padding-left: 17px;
}
.foot-close-logo1 ul li {
	display: inline;
	padding-right: 17px;
	list-style-type: none;
}
.foot-close-logo1 img {
	vertical-align: middle;
}
.foot-close-txt {
	font-family: DINMedium;
	font-size: 13px;
	line-height: 18px;
	color: #828282;
	text-align: center;
	width: 1002px;
	padding-top: 18px;
	padding-bottom: 36px;
}

.br12 {
	line-height: 12px;
}
.txt25 {
	font-size: 25px;
	line-height: 26px;
}
