@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
html {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	-webkit-text-size-adjust: none;
	background-image: url(../bus_reis_winterberg_files/bedrijfsuitje_personeelsuitje_winterberg.jpg);
	background-position: center top;
	background-color: #E2E2E2;
	background-repeat: no-repeat;
}
#onder {
	background-color: #FFF;
	height: 96px;
	width: 100%;
	min-width: 1002px;
}
#wrapper {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
#kopw {
	height: 140px;
	width: 1002px;
}
#kopwl {
	float: left;
	height: 140px;
	width: 854px;
}
#language {
	height: 58px;
	padding-top: 7px;
	padding-left: 23px;
}
#language ul li {
	display: inline;
	padding-left: 3px;
	list-style-type: none;
}
#menu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #3A3A3A;
	height: 69px;
	padding-left: 2px;
}
#menu ul li {
	display: inline-block;
	height: 26px;
	padding-right: 23px;
	padding-left: 23px;
	list-style-type: none;
	*display: inline;
}
#menu ul li:hover {
	border-bottom-width: 14px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
#menu ul li a {
	line-height: 26px;
	color: #3A3A3A;
	text-decoration: none;
	height: 26px;
}
#menu ul li a:hover {
	color: #4DC9FF;
}
#kopwr {
	text-align: left;
	float: left;
	height: 125px;
	width: 148px;
	padding-top: 15px;
}
#content {
	clear: both;
	width: 966px;
	padding-right: 18px;
	padding-left: 18px;
	margin-top: 20px;
}
#content-box1 {
	float: left;
	width: 400px;
}
.content-img {
	width: 398px;
	border: 1px solid #9C9C9C;
	-webkit-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
}
.content-imgbr {
	height: 40px;
	width: 400px;
}
.content-imgcl {
	height: 76px;
	width: 400px;
}
.content-imgclpas {
	height: 120px;
	width: 400px;
}
.content-imgclpas76 {
	height: 120px;
	width: 400px;
	margin-bottom: 64px;
}
.content-vakantieveilingen {
	width: 400px;
	margin-bottom: 15px;
}
#content-logo {
	float: left;
	width: 400px;
	margin-bottom: 76px;
}
#content-cam {
	float: left;
	width: 400px;
}
#caml {
	float: left;
	width: 190px;
}
#camr {
	float: right;
	width: 190px;
}
.cambox {
	background-color: #FFF;
	width: 190px;
	margin-bottom: 15px;
	-webkit-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
}
.camtt {
	font-family: "Open Sans";
	font-size: 11px;
	font-weight: bold;
	color: #002157;
	width: 180px;
	padding-top: 7px;
	padding-left: 10px;
}
.cam {
	height: 128px;
	width: 180px;
	padding-top: 4px;
	padding-left: 10px;
}
.camin {
	width: 180px;
	padding-top: 8px;
	padding-bottom: 7px;
	padding-left: 10px;
}
.camin ul li {
	display: inline;
	padding-right: 1px;
	list-style-type: none;
}
.camboxc {
	background-color: #FFF;
	width: 190px;
	margin-bottom: 76px;
	-webkit-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
	box-shadow: 0 18px 12px -18px rgba(0,0,0,0.35);
}
#content-box2 {
	float: right;
	width: 535px;
}
.content-txtt {
	font-family: "Open Sans";
	font-size: 47px;
	font-weight: 400;
	color: #002157;
	width: 523px;
	padding-bottom: 13px;
	background-color: #FFF;
	padding-left: 12px;
	padding-top: 10px;
}
.content-txtm {
	font-family: "Open Sans";
	font-size: 17px;
	line-height: 24px;
	color: #000;
	width: 511px;
	padding-bottom: 70px;
	background-color: #FFF;
	padding-left: 12px;
	padding-top: 12px;
	padding-right: 12px;
}
.content-txtmbr {
	line-height: 12px;
}
.content-txtmtt {
	font-weight: bold;
	color: #002157;
}
.content-txtm a {
	font-weight: bold;
	color: #652D8A;
	text-decoration: none;
}
.content-txtm a:hover {
	color: #8D57A5;
}
.content-txtm ul li {
	margin-left: 30px;
}
.content-txtm ol li {
	margin-left: 36px;
}
.content-txtmio {
	font-style: italic;
	color: #FF9B05;
}
.content-txtmir {
	font-style: italic;
	color: #00AFF0;
}
.content-txtmtb {
	font-family: "Open Sans";
	font-size: 17px;
	line-height: 24px;
	color: #616161;
	width: 535px;
	padding-bottom: 11px;
}
.content-txtmtb a {
	font-weight: bold;
	color: #652D8A;
	text-decoration: none;
}
.content-txtmtb a:hover {
	color: #8D57A5;
}
.content-txtmtb ul li {
	margin-left: 30px;
}
.content-txtmbp {
	font-weight: bold;
	color: #00AFF0;
}
.content-txtmail {
	font-family: "Open Sans";
	font-size: 12px;
	color: #616161;
	width: 535px;
	padding-top: 9px;
}
.content-txtaan {
	font-family: "Open Sans";
	font-size: 12px;
	color: #616161;
	width: 535px;
}
.content-txtaan a {
	font-weight: bold;
	color: #652D8A;
	text-decoration: none;
}
#time-top {
	background-color: #FFF;
	width: 947px;
	margin-top: 20px;
	padding-top: 19px;
	padding-bottom: 14px;
	padding-left: 19px;
}
#time-bot {
	font-size: 12px;
	color: #8E8E8E;
	text-align: left;
	width: 927px;
	padding-top: 15px;
	padding-bottom: 73px;
	padding-left: 39px;
}
#time-bot a {
	font-weight: bold;
	color: #652D8A;
	text-decoration: none;
}
.link1 {
	font-weight: bold;
	color: #652D8A;
	text-decoration: none;
}
#tabel1 {
	clear: both;
	width: 994px;
	padding-right: 8px;
}
#foot {
	background-color: #66749F;
	clear: both;
	height: 250px;
	width: 100%;
}
#foot-wrap {
	height: 250px;
	width: 992px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
}
.foot-boxs {
	background-image: url(../bus_reis_winterberg_images/brabander_winterberg.png);
	background-repeat: no-repeat;
	background-position: left 42px;
	float: left;
	width: 210px;
}
.foot-txtt {
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 600;
	color: #FFF;
	width: 186px;
	padding-top: 46px;
	padding-left: 24px;
}
.foot-link {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #FFF;
	height: 140px;
	width: 186px;
	padding-top: 5px;
	padding-left: 24px;
}
.foot-link a {
	color: #FFF;
	text-decoration: none;
}
.foot-boxl {
	background-image: url(../bus_reis_winterberg_images/brabander_winterberg.png);
	background-repeat: no-repeat;
	background-position: left 42px;
	float: left;
	height: 164px;
	width: 339px;
	padding-top: 46px;
	padding-left: 23px;
}
#foot-close {
	font-size: 13px;
	color: #FFF;
	clear: both;
	height: 48px;
	width: 976px;
	padding-left: 16px;
}
#foot-close ul li {
	display: inline;
	padding-right: 8px;
	padding-left: 8px;
	list-style-type: none;
}
