@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #EDEDED;
}
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	-webkit-text-size-adjust: none;
}
#onder {
	background-color: #FFF;
	height: 96px;
	width: 100%;
	min-width: 1002px;
}
#wrapper {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
#kopw {
	height: 140px;
	width: 1002px;
}
#kopwl {
	float: left;
	height: 140px;
	width: 854px;
}
#language {
	height: 58px;
	padding-top: 7px;
	padding-left: 23px;
}
#language ul li {
	display: inline;
	padding-left: 3px;
	list-style-type: none;
}
#menu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #3A3A3A;
	height: 69px;
	padding-left: 2px;
}
#menu ul li {
	display: inline-block;
	height: 26px;
	padding-right: 23px;
	padding-left: 23px;
	list-style-type: none;
	*display: inline;
}
#menu ul li:hover {
	border-bottom-width: 14px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
#menu ul li a {
	line-height: 26px;
	color: #3A3A3A;
	text-decoration: none;
	height: 26px;
}
#menu ul li a:hover {
	color: #4DC9FF;
}
#kopwr {
	text-align: left;
	float: left;
	height: 125px;
	width: 148px;
	padding-top: 15px;
}
#ref {
	background-image: url(../bus_reis_winterberg_images/winterberg_bedrijfsuitje.png);
	background-repeat: no-repeat;
	background-position: left top;
	clear: both;
	height: 815px;
	width: 1002px;
}
#ref-wrap {
	float: right;
	width: 730px;
}
.ref-box1 {
	text-align: center;
	width: 730px;
	padding-top: 30px;
}
.ref-box2 {
	text-align: center;
	width: 730px;
	padding-top: 19px;
}
.ref-box3 {
	width: 414px;
	padding-top: 19px;
	padding-left: 316px;
}
.ref-box4 {
	width: 360px;
	padding-top: 19px;
	padding-left: 370px;
}
#content {
	clear: both;
	width: 966px;
	padding-right: 18px;
	padding-left: 18px;
}
#content-logo {
	float: left;
	width: 400px;
	margin-bottom: 76px;
}
#content-box2 {
	float: right;
	width: 535px;
}
.content-txtt {
	font-family: "Open Sans";
	font-size: 47px;
	font-weight: 400;
	color: #002157;
	width: 535px;
	padding-bottom: 13px;
}
.content-txtm {
	font-family: "Open Sans";
	font-size: 17px;
	line-height: 24px;
	color: #616161;
	width: 535px;
	margin-bottom: 70px;
}
.content-txtmbr {
	line-height: 12px;
}
#spot {
	background-color: #FCF8F2;
	clear: both;
	height: 332px;
	width: 1002px;
	margin-top: 20px;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#FCF8F2),to(#F7EBDB));
	background-image: -webkit-linear-gradient(top,#FCF8F2,#F7EBDB);
	background-image: -moz-linear-gradient(top,#FCF8F2,#F7EBDB);
	background-image: -ms-linear-gradient(top,#FCF8F2,#F7EBDB);
	background-image: -o-linear-gradient(top,#FCF8F2,#F7EBDB);
	background-image: linear-gradient(top,#FCF8F2,#F7EBDB);
	box-shadow: 0px 0px 6px #666;
}
.spot-shadow {
	position: relative;
}
.spot-shadow:before, .spot-shadow:after {
	width: 50%;
	position: absolute;
	z-index: -1;
	left: 7px;
	top: 217px;
	bottom: 15px;
	content: "";
	max-width: 400px;
	-webkit-box-shadow: 0 15px 20px #939393;
	-moz-box-shadow: 0 15px 20px #939393;
	box-shadow: 0 15px 20px #939393;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.spot-shadow:after {
	left: auto;
	right: 7px;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}
#cycler {
	height: 332px;
	width: 500px;
}
#cycler img {
	height: 332px;
	position: absolute;
	z-index: 1;
}
#cycler img.active {
	z-index: 3;
}
#spot-3d {
	background-image: url(../bus_reis_winterberg_images/schoolreis_schoolreizen_studentenreizen_studentenreis_winterberg_sauerland.png);
	background-repeat: no-repeat;
	height: 332px;
	width: 503px;
	padding-left: 499px;
	position: relative;
	z-index: 4;
	top: -332px;
}
#spot-box {
	background-image: url(../bus_reis_winterberg_images/company_day_out_winterberg_sauerland_germany.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 332px;
	width: 503px;
}
.spot-txtt {
	font-family: "Open Sans";
	font-size: 35px;
	font-weight: 400;
	color: #8D57A5;
	width: 476px;
	padding-top: 28px;
	padding-bottom: 8px;
	padding-left: 27px;
}
.spot-txtm {
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 23px;
	color: #000;
	width: 452px;
	padding-right: 21px;
	padding-left: 30px;
}
.spot-txtm a {
	font-weight: bold;
	color: #652D8A;
	text-decoration: none;
}
.spot-txtm a:hover {
	color: #8D57A5;
}
.spot-txtmbr {
	line-height: 15px;
}
.spot-social {
	width: 474px;
	padding-top: 48px;
	padding-left: 29px;
}
.spot-social ul li {
	display: inline;
	padding-right: 1px;
	list-style-type: none;
}
#fancy {
	height: 461px;
	width: 1002px;
}
#fancy-left {
	float: left;
	width: 469px;
	padding-top: 34px;
	padding-right: 13px;
	padding-left: 19px;
}
#fancy-box1 {
	float: left;
	width: 222px;
}
.fancy-txtt {
	font-family: "Open Sans";
	font-size: 18px;
	line-height: 22px;
	color: #002157;
	height: 53px;
	width: 222px;
}
.xbold1 {
	font-weight: 800;
}
.fancy-img {
	text-align: center;
	height: 148px;
	width: 222px;
}
.fancy-txtm {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 18px;
	color: #616161;
	width: 222px;
	padding-top: 14px;
}
.fancy-linkw {
	width: 222px;
}
.fancy-linkwl {
	float: left;
	width: 92px;
	padding-top: 12px;
}
.fancy-linkwl p {
	font-family: "Open Sans";
	font-size: 11px;
	font-weight: 800;
	color: #000;
}
.fancy-linkwl h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 46px;
	line-height: 42px;
	font-weight: lighter;
	color: #4DC9FF;
}
.fancy-linkwr {
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 800;
	color: #652D8A;
	text-align: right;
	float: left;
	width: 125px;
	padding-top: 41px;
	padding-right: 5px;
}
.fancy-linkwr a {
	color: #652D8A;
	text-decoration: none;
	background-image: url(../bus_reis_winterberg_images/winterberg_pijl_off.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 30px;
}
.fancy-linkwr a:hover {
	color: #8D57A5;
	background-image: url(../bus_reis_winterberg_images/winterberg_pijl_on.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#fancy-box2 {
	float: right;
	width: 222px;
}
#fancy-right {
	float: left;
	width: 469px;
	padding-top: 34px;
	padding-right: 19px;
	padding-left: 13px;
}
#fancy-box3 {
	float: left;
	width: 222px;
}
#fancy-box4 {
	float: right;
	width: 222px;
}
.fancy-link {
	font-family: "Open Sans";
	font-size: 13px;
	line-height: 18px;
	font-weight: 800;
	color: #3A3A3A;
	width: 222px;
	padding-top: 14px;
}
.fancy-link a {
	color: #3A3A3A;
	text-decoration: none;
}
.fancy-link a:hover {
	color: #6D6D6D;
}
#foot {
	background-color: #66749F;
	clear: both;
	height: 250px;
	width: 100%;
}
#foot-wrap {
	height: 250px;
	width: 992px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
}
.foot-boxs {
	background-image: url(../bus_reis_winterberg_images/brabander_winterberg.png);
	background-repeat: no-repeat;
	background-position: left 42px;
	float: left;
	width: 210px;
}
.foot-txtt {
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 600;
	color: #FFF;
	width: 186px;
	padding-top: 46px;
	padding-left: 24px;
}
.foot-link {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #FFF;
	height: 140px;
	width: 186px;
	padding-top: 5px;
	padding-left: 24px;
}
.foot-link a {
	color: #FFF;
	text-decoration: none;
}
.foot-boxl {
	background-image: url(../bus_reis_winterberg_images/brabander_winterberg.png);
	background-repeat: no-repeat;
	background-position: left 42px;
	float: left;
	height: 164px;
	width: 339px;
	padding-top: 46px;
	padding-left: 23px;
}
#foot-close {
	font-size: 13px;
	color: #FFF;
	clear: both;
	height: 48px;
	width: 976px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 16px;
}
#foot-close ul li {
	display: inline;
	padding-right: 8px;
	padding-left: 8px;
	list-style-type: none;
}
