@charset "utf-8";
/* CSS Document */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 4px;
	background-color: #FFF;
	background-image: url(bedrijfsuitje_personeelsuitje_winterberg.jpg);
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-right: 50px;
	margin-bottom: 40px;
	margin-left: 0px;
	background-position: center top;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
.bgwhi {
	background-color: #FFF;
	vertical-align: top;
}
.txt1 {
	font-size: 10px;
	font-weight: bold;
	color: #5C637E;
	text-align: left;
	vertical-align: bottom;
}
.tl {
	text-align: left;
	vertical-align: top;
	padding-top: 8px;
	padding-bottom: 4px;
}
.break {
	line-height: 12px;
}

.txt2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 38px;
	color: #00AFF0;
	text-align: left;
	vertical-align: bottom;
}
.txt3 {
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 20px;
	color: #616161;
	text-align: left;
	vertical-align: top;
}
.tablepr {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #5C637E;
	text-align: center;
	vertical-align: middle;
	border: thin solid #051039;
	border-collapse: collapse;
}
.txt4 {
	font-size: 11px;
	font-style: italic;
	color: #5C637E;
	text-align: left;
	vertical-align: bottom;
}
.txt5 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #EE4097;
	text-align: center;
	vertical-align: bottom;
}
.db {
	color: #5C637E;
}
.roi {
	font-style: italic;
	color: #EE4097;
}
.lbi {
	font-style: italic;
	color: #AFB2BF;
}
.ro {
	color: #EE4097;
}
.bi {
	font-style: italic;
	font-weight: bold;
}
.br {
	text-align: right;
	vertical-align: bottom;
}
.txt6 {
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	vertical-align: bottom;
}
.wh {
	color: #FFF;
}
.bgwhit {
	background-color: #FFF;
	vertical-align: top;
}
.abg1 {
	background-image: url(bedrijfsuitje_winterberg_dagje_dag_1_dag.png);
	background-repeat: no-repeat;
}
.mc {
	text-align: center;
	vertical-align: middle;
}
.txt7 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 19px;
	color: #00AFF0;
	text-align: left;
	vertical-align: bottom;
}
.robi {
	font-style: italic;
	font-weight: bold;
	color: #EE4097;
	padding-bottom: 10px;
}
.abg2 {
	background-image: url(personeelsuitje_winterberg_weekend.png);
	background-repeat: no-repeat;
}
.abg3 {
	background-image: url(bedrijfsuitje_personeelsuitje_bus_reis_dag_dagje_kerstmarkt_kerstmarkten_duitsland.png);
	background-repeat: no-repeat;
}
.abg4 {
	background-image: url(vergader_vergaderen_arrangement_locatie_ruimte_congres_business_meeting_winterberg_willingen_sauerland_duitsland.png);
	background-repeat: no-repeat;
}
.txt8 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #EE4097;
	text-align: center;
	vertical-align: middle;
}
.lllb {
	color: #AFB2BF;
}
.txt9 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #5C637E;
	text-align: left;
	vertical-align: bottom;
}
.txt10 {
	font-size: 16px;
	font-weight: bold;
	color: #5C637E;
	text-align: left;
	vertical-align: top;
}
.tablepr2 {
	font-size: 14px;
	line-height: 18px;
	color: #051039;
	text-align: left;
	vertical-align: middle;
	border: thin solid #051039;
	border-collapse: collapse;
}
.lb {
	color: #00AFF0;
}
.pu {
	color: #96F;
}
.txt11 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 19px;
	color: #3675AE;
	text-align: left;
	vertical-align: bottom;
}
.txt12 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 19px;
	color: #AFB2BF;
	text-align: left;
	vertical-align: top;
}
.txt13 {
	font-size: 14px;
	line-height: 18px;
	color: #00AFF0;
	text-align: left;
	vertical-align: top;
}
.or {
	color: #FF8000;
}
.formoption {
	margin-bottom: 17px;
	float: left;
	clear: both;
}
.textlabel {
	display: block;
	float: left;
	width: 15em;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	clear: both;
}
.textlabel2 {
	display: block;
	float: left;
	width: 15em;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	clear: both;
}
.formoption input {
	vertical-align: middle;
}
.formoption select {
	vertical-align: middle;
}
.styled {
	float: left;
	width: 390px;
}
#meerdagen {
	display: none;
}
.opmerkingen {
	width: 400px;
	height: 150px;
	resize: none;
}
#dd, #mm, #yyyy {
	width: 38px;
	text-align: center;
}
#recaptcha_area {
	position: relative;
	margin-bottom: 10px;
	clear: both;
}
#bericht {
	width: 400px;
	height: 150px;
	resize: none;
}
.check {
	float: left;
	width: 295px;
	margin-bottom: 11px;
}
.check1 {
	float: left;
	width: 295px;
	margin-right: 5px;
	margin-bottom: 6px;
}
.check2 {
	float: left;
	width: 295px;
	margin-right: 5px;
}
