@charset "utf-8";
/* CSS Document */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 4px;
	background-color: #FFF;
	background-image: url(mtbg_dag_dagje_dagen_weekend_bedrijfsuitje_bus_reis_sneeuw_winterberg_winterbergen_sauerland.png);
	background-repeat: repeat-x;
	margin-top: 0px;
	margin-right: 50px;
	margin-bottom: 20px;
	margin-left: 0px;
}
.txt1 {
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
	text-align: left;
	vertical-align: bottom;
}
.buswinterberg {
	background-image: url(bus_reis_winterberg_bus_winterbergbus_bedrijfsuitje_personeelsuitje_sneeuw_weer_hotels_winterberg_willingen_winterbergen_v2.png);
	background-repeat: no-repeat;
	vertical-align: top;
}
.bl {
	text-align: left;
	vertical-align: bottom;
}
.ml {
	text-align: left;
	vertical-align: middle;
}
.txt2 {
	font-size: 12px;
	font-weight: bold;
	color: #051039;
	text-align: center;
}
.txt3 {
	font-size: 12px;
	color: #051039;
	text-align: left;
	vertical-align: middle;
}
.w116 {
	width: 116px;
}
.w180 {
	width: 180px;
}
.w112 {
	width: 112px;
	height: 14px;
}
.txt4 {
	font-size: 12px;
	font-weight: bold;
	color: #051039;
	text-align: left;
	vertical-align: bottom;
}
.txt5 {
	font-size: 12px;
	color: #5C637E;
	text-align: left;
	vertical-align: bottom;
	padding-left: 12px;
}
.txt6 {
	font-size: 12px;
	color: #00AFF0;
	text-align: left;
	vertical-align: bottom;
	padding-left: 12px;
}
.br {
	text-align: right;
	vertical-align: bottom;
}
.bc {
	text-align: center;
	vertical-align: bottom;
}
.bup {
	vertical-align: bottom;
	padding-bottom: 9px;
}

.txt7 {
	font-size: 14px;
	font-weight: bold;
	color: #00AFF0;
	text-align: left;
	vertical-align: bottom;
}
.txt8 {
	font-size: 11px;
	font-weight: bold;
	color: #051039;
	text-align: left;
	vertical-align: bottom;
}
.txt9 {
	font-size: 11px;
	color: #5C637E;
	text-align: left;
	vertical-align: bottom;
}
.mr {
	text-align: right;
	vertical-align: middle;
}
.txt10 {
	font-size: 11px;
	font-weight: bold;
	color: #051039;
	text-align: left;
	vertical-align: middle;
}
.txt11 {
	font-size: 11px;
	line-height: 14px;
	color: #5C637E;
	text-align: left;
	vertical-align: bottom;
}
.tc {
	text-align: center;
	vertical-align: top;
}
.txt12 {
	font-size: 11px;
	color: #AFB2BF;
	text-align: center;
	vertical-align: bottom;
}
.txt13 {
	font-size: 11px;
	font-weight: bold;
	color: #00AFF0;
	text-align: left;
	vertical-align: bottom;
	padding-left: 12px;
}
.txt14 {
	font-size: 11px;
	font-weight: bold;
	color: #EE4097;
	text-align: right;
	vertical-align: bottom;
}
.wh {
	color: #FFF;
}
.db {
	color: #051039;
}
.break {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	color: #AFB2BF;
}
.llb {
	color: #5C637E;
}
.ro {
	color: #EE4097;
}
.lb {
	color: #00AFF0;
}
.txtra1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	color: #EE4097;
	text-align: center;
	vertical-align: top;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
