@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'museo100';
    src: url('Museo100-Regular-webfont.eot');
    src: url('Museo100-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Museo100-Regular-webfont.woff2') format('woff2'),
         url('Museo100-Regular-webfont.woff') format('woff'),
         url('Museo100-Regular-webfont.ttf') format('truetype'),
         url('Museo100-Regular-webfont.svg#museo100') format('svg');
    font-weight: normal;
    font-style: normal;

}
