@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
@font-face {
	font-family: 'DINMedium';
	src: url('../bus_reis_winterberg_images/DINMedium.eot');
	src: local('DINMedium'), url('../bus_reis_winterberg_images/DINMedium.woff') format('woff'), url('../bus_reis_winterberg_images/DINMedium.ttf') format('truetype');
}
@font-face {
	font-family: 'DINBold';
	src: url('../bus_reis_winterberg_images/DINBold.eot');
	src: local('../bus_reis_winterberg_images/DINBold'), url('../bus_reis_winterberg_images/DINBold.woff') format('woff'), url('../bus_reis_winterberg_images/DINBold.ttf') format('truetype');
}
a:link, a:visited, a:active {
	text-decoration: none;
}
body {
	background-image: url(../bus_reis_winterberg_images/bus_reis_winterberg_dagje_weekend_weer_sneeuw_hotel_bedrijfsuitje_schoolreis_winterbergen_sauerland_duitsland.png);
	background-attachment: fixed;
	background-color: #F7F7F7;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	-webkit-text-size-adjust: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#onder {
	background-color: #FFF;
	height: 96px;
	width: 100%;
	min-width: 1002px;
}
#wrapper {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
#kopw {
	height: 140px;
	width: 1002px;
}
#kopwl {
	float: left;
	height: 140px;
	width: 854px;
}
#language {
	height: 58px;
	padding-top: 7px;
	padding-left: 23px;
}
#language ul li {
	display: inline;
	padding-left: 3px;
	list-style-type: none;
}
#menu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #3A3A3A;
	height: 69px;
	padding-left: 2px;
}
#menu ul li {
	display: inline-block;
	height: 26px;
	padding-right: 23px;
	padding-left: 23px;
	list-style-type: none;
	*display: inline;
}
#menu ul li:hover {
	border-bottom-width: 14px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
#menu ul li a {
	line-height: 26px;
	color: #3A3A3A;
}
#menu ul li a:hover {
	color: #4DC9FF;
}
#kopwr {
	text-align: left;
	float: left;
	height: 125px;
	width: 148px;
	padding-top: 15px;
}
#weer-bg {
	background-color: #FFF;
	clear: both;
	float: left;
	width: 922px;
	margin-top: 20px;
	margin-bottom: 40px;
	padding-top: 64px;
	padding-right: 40px;
	padding-bottom: 56px;
	padding-left: 40px;
}
#weer-wrap {
	float: left;
	width: 922px;
}
#weer-top {
	float: left;
	width: 922px;
}
.weer-title {
	font-family: DINMedium;
	font-size: 39px;
	font-weight: 400;
	text-transform: uppercase;
	color: #002157;
	float: left;
	height: 70px;
	width: 492px;
}
div.weer-alert {
	background-repeat: no-repeat;
	background-position: 0px 50%;
	float: right;
	height: 70px;
	width: 416px;
	background-image: url(../bus_reis_winterberg_images/winterberg_weerbericht_winterbergen_sauerland.png);
}
div.weer-alert:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-alert div.inner {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	display: inline-block;
	padding-left: 42px;
}
#weer-content {
	float: left;
	width: 922px;
}
#weer-box1 {
	float: left;
	width: 492px;
}
div.weer-box1-row1 {
	background-color: #C3C3C3;
	float: left;
	height: 95px;
	width: 481px;
	margin-bottom: 14px;
	padding-left: 11px;
}
div.weer-box1-row1:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-box1-row1 div.inner {
	font-family: DINMedium;
	text-transform: uppercase;
	color: #1D1D1D;
	vertical-align: middle;
	display: inline-block;
}
div.weer-box1-row1 h2 {
	font-size: 26px;
}
div.weer-box1-row1 small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.weer-box1-row-other {
	background-color: #1D1D1D;
	float: left;
	height: 126px;
	width: 492px;
	margin-bottom: 14px;
}
div.weer-box1-row2-left {
	background-image: url(../bus_reis_winterberg_images/sneeuw_winterberg_sauerland_duitsland.png);
	background-repeat: no-repeat;
	background-position: 25px 24px;
	float: left;
	height: 126px;
	width: 156px;
	padding-left: 90px;
}
div.weer-box1-row2-left:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-box1-row2-left div.inner {
	font-family: DINMedium;
	font-size: 15px;
	color: #4DC9FF;
	vertical-align: middle;
	display: inline-block;
}
.weer-box1-info-br {
	line-height: 10px;
}
.weer-box1-info {
	font-size: 28px;
	line-height: 20px;
	font-weight: bold;
	color: #FFF;
}
div.weer-box1-row2-right {
	background-image: url(../bus_reis_winterberg_images/sneeuwhoogte_winterberg_sauerland_duitsland.png);
	background-repeat: no-repeat;
	background-position: 14px 24px;
	float: right;
	height: 126px;
	width: 181px;
	padding-left: 65px;
}
div.weer-box1-row2-right:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-box1-row2-right div.inner {
	font-family: DINMedium;
	font-size: 15px;
	color: #4DC9FF;
	vertical-align: middle;
	display: inline-block;
}
div.weer-box1-row3-left {
	background-image: url(../bus_reis_winterberg_images/sneeuw_winterberg_sauerland_duitsland.png);
	background-repeat: no-repeat;
	background-position: 25px 24px;
	float: left;
	height: 126px;
	width: 156px;
	padding-left: 90px;
}
div.weer-box1-row3-left:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-box1-row3-left div.inner {
	font-family: DINMedium;
	font-size: 15px;
	color: #4DC9FF;
	vertical-align: middle;
	display: inline-block;
}
div.weer-box1-row3-right {
	background-image: url(../bus_reis_winterberg_images/winterberg_sneeuw_winterbergen.png);
	background-repeat: no-repeat;
	background-position: 18px 24px;
	float: right;
	height: 126px;
	width: 181px;
	padding-left: 65px;
}
div.weer-box1-row3-right:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-box1-row3-right div.inner {
	font-family: DINMedium;
	font-size: 15px;
	color: #4DC9FF;
	vertical-align: middle;
	display: inline-block;
}
div.weer-box1-row4-left {
	background-image: url(../bus_reis_winterberg_images/weer_winterbergen_sneeuw_skiliften.png);
	background-repeat: no-repeat;
	background-position: 32px 20px;
	float: left;
	height: 126px;
	width: 156px;
	padding-left: 90px;
}
div.weer-box1-row4-left:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-box1-row4-left div.inner {
	font-family: DINMedium;
	font-size: 15px;
	color: #4DC9FF;
	vertical-align: middle;
	display: inline-block;
}
div.weer-box1-row4-right {
	background-image: url(../bus_reis_winterberg_images/langlaufen_winterberg_loipen_winterbergen_loipes.png);
	background-repeat: no-repeat;
	background-position: 13px 24px;
	float: right;
	height: 126px;
	width: 181px;
	padding-left: 65px;
}
div.weer-box1-row4-right:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-box1-row4-right div.inner {
	font-family: DINMedium;
	font-size: 15px;
	color: #4DC9FF;
	vertical-align: middle;
	display: inline-block;
}
#weer-box2 {
	float: right;
	width: 416px;
}
.weer-box2-row1 {
	float: left;
	width: 416px;
	margin-bottom: 14px;
}
.weer-icon1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	float: left;
	height: 60px;
	width: 104px;
	padding-top: 35px;
}
.weer-icon1:hover {
	background-color: #FF8000;
	height: 60px;
	width: 104px;
}
.weer-icon1 ul li {
	margin-bottom: 3px;
	list-style-type: none;
}
.weer-icon1 a {
	color: #000;
}
.weer-icon2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	float: left;
	height: 60px;
	width: 104px;
	padding-top: 35px;
}
.weer-icon2:hover {
	background-color: #FF8000;
	height: 60px;
	width: 104px;
}
.weer-icon2 ul li {
	margin-bottom: 3px;
	list-style-type: none;
}
.weer-icon2 a {
	color: #000;
}
.weer-icon3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	float: left;
	height: 60px;
	width: 104px;
	padding-top: 35px;
}
.weer-icon3:hover {
	background-color: #FF8000;
	height: 60px;
	width: 104px;
}
.weer-icon3 ul li {
	margin-bottom: 3px;
	list-style-type: none;
}
.weer-icon3 a {
	color: #000;
}
.weer-icon4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	float: left;
	height: 60px;
	width: 104px;
	padding-top: 35px;
}
.weer-icon4:hover {
	background-color: #FF8000;
	height: 60px;
	width: 104px;
}
.weer-icon4 ul li {
	margin-bottom: 3px;
	list-style-type: none;
}
.weer-icon4 a {
	color: #000;
}
div.weer-box2-row2 {
	background-color: #4DC9FF;
	float: left;
	height: 126px;
	width: 405px;
	margin-bottom: 14px;
	padding-left: 11px;
}
div.weer-box2-row2:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-box2-row2 div.inner {
	font-family: DINMedium;
	font-size: 22px;
	line-height: 26px;
	text-transform: uppercase;
	color: #FFF;
	vertical-align: middle;
	display: inline-block;
}
.weer-box2-row2 a {
	color: #000;
}
.weer-box2-row2 a:hover {
	color: #FFF;
}
.weer-box2-row3 {
	float: left;
	width: 416px;
	margin-bottom: 14px;
}
#foot-border {
	background-color: #54548E;
	clear: both;
	height: 6px;
	width: 100%;
	min-width: 1002px;
}
#foot {
	background-color: #000;
	width: 100%;
	min-width: 1002px;
}
#foot-wrap {
	height: 220px;
	width: 972px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
}
.foot-boxs {
	background-image: url(../bus_reis_winterberg_images/brabander_winterberg.gif);
	background-repeat: no-repeat;
	background-position: left 34px;
	float: left;
	width: 210px;
}
.foot-txtt {
	font-family: DINMedium;
	font-size: 15px;
	text-transform: uppercase;
	color: #FFF;
	width: 186px;
	padding-top: 26px;
	padding-left: 24px;
}
.foot-link {
	font-family: DINMedium;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFF;
	height: 140px;
	width: 186px;
	padding-top: 12px;
	padding-left: 24px;
}
.foot-link a {
	color: #FFF;
}
.foot-boxl {
	background-image: url(../bus_reis_winterberg_images/brabander_winterberg.gif);
	background-repeat: no-repeat;
	background-position: left 34px;
	float: left;
	width: 342px;
}
.foot-social1 {
	padding-top: 14px;
	padding-left: 23px;
}
.foot-social1 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
.foot-social2 {
	padding-top: 6px;
	padding-bottom: 56px;
	padding-left: 23px;
}
.foot-social2 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
#foot-close {
	background-color: #FFF;
	width: 100%;
	min-width: 1002px;
}
#foot-close-wrap {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
.foot-close-logo1 {
	text-align: center;
	width: 985px;
	padding-top: 30px;
	padding-left: 17px;
}
.foot-close-logo1 ul li {
	display: inline;
	padding-right: 17px;
	list-style-type: none;
}
.foot-close-logo1 img {
	vertical-align: middle;
}
.foot-close-txt {
	font-family: DINMedium;
	font-size: 13px;
	line-height: 18px;
	color: #828282;
	text-align: center;
	width: 1002px;
	padding-top: 18px;
	padding-bottom: 36px;
}
