@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
@font-face {
	font-family: 'DINMedium';
	src: url('../bus_reis_winterberg_images/DINMedium.eot');
	src: local('DINMedium'), url('../bus_reis_winterberg_images/DINMedium.woff') format('woff'), url('../bus_reis_winterberg_images/DINMedium.ttf') format('truetype');
}
@font-face {
	font-family: 'DINBold';
	src: url('../bus_reis_winterberg_images/DINBold.eot');
	src: local('../bus_reis_winterberg_images/DINBold'), url('../bus_reis_winterberg_images/DINBold.woff') format('woff'), url('../bus_reis_winterberg_images/DINBold.ttf') format('truetype');
}
a:link, a:visited, a:active {
	text-decoration: none;
}
body {
	background-color: #F7F7F7;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	-webkit-text-size-adjust: none;
}
#onder {
	background-color: #FFF;
	height: 96px;
	width: 100%;
	min-width: 1002px;
}
#wrapper {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
#kopw {
	height: 140px;
	width: 1002px;
}
#kopwl {
	float: left;
	height: 140px;
	width: 854px;
}
#language {
	height: 58px;
	padding-top: 7px;
	padding-left: 23px;
}
#language ul li {
	display: inline;
	padding-left: 3px;
	list-style-type: none;
}
#menu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #3A3A3A;
	height: 69px;
	padding-left: 2px;
}
#menu ul li {
	display: inline-block;
	height: 26px;
	padding-right: 23px;
	padding-left: 23px;
	list-style-type: none;
	*display: inline;
}
#menu ul li:hover {
	border-bottom-width: 14px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
#menu ul li a {
	line-height: 26px;
	color: #3A3A3A;
}
#menu ul li a:hover {
	color: #4DC9FF;
}
#kopwr {
	text-align: left;
	float: left;
	height: 125px;
	width: 148px;
	padding-top: 15px;
}
#double {
	clear: both;
	float: left;
	width: 922px;
	margin-top: 20px;
	margin-bottom: 70px;
	padding-right: 40px;
	padding-left: 40px;
}
#double-box1 {
	float: left;
	width: 400px;
}
.double-box1-logo {
	width: 400px;
}
#double-box2 {
	float: right;
	width: 490px;
	padding-top: 15px;
}
.double-box2-top {
	float: left;
	width: 490px;
}
.double-box2-title {
	font-family: DINMedium;
	font-size: 39px;
	font-weight: 400;
	text-transform: uppercase;
	color: #002157;
	float: left;
	height: 70px;
	width: 490px;
}
.mail {
	font-family: DINMedium;
	font-size: 14px;
	color: #828282;
	float: left;
	width: 490px;
}
.form-option1 {
	clear: both;
	float: left;
	width: 450px;
	margin-bottom: 11px;
}
.text-label1 {
	vertical-align: middle;
	display: inline-block;
	width: 130px;
}
.text-input {
	font-family: "Courier New", Courier, monospace;
	color: #000;
	padding: 11px;
	width: 236px;
	border: 1px solid #D7D7D7;
}
.form-option2 {
	clear: both;
	float: left;
	width: 475px;
	margin-top: 11px;
}
.text-label2 {
	display: inline-block;
	float: left;
	width: 133px;
}
.bericht {
	font-family: "Courier New", Courier, monospace;
	color: #000;
	height: 118px;
	width: 286px;
	padding-top: 11px;
	padding-right: 11px;
	padding-left: 11px;
	border: 1px solid #D7D7D7;
	resize: none;
}
.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #FF8000;
	text-align: center;
	display: inline-block;
	height: 41px;
	margin-top: 22px;
	margin-left: 133px;
	padding-right: 36px;
	padding-left: 36px;
	border: 2px solid #FF8000;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-appearance: none;
}
#foot-border {
	background-color: #54548E;
	clear: both;
	height: 6px;
	width: 100%;
	min-width: 1002px;
}
#foot {
	background-color: #000;
	width: 100%;
	min-width: 1002px;
}
#foot-wrap {
	height: 220px;
	width: 972px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
}
.foot-boxs {
	background-image: url(../bus_reis_winterberg_images/brabander_winterberg.gif);
	background-repeat: no-repeat;
	background-position: left 34px;
	float: left;
	width: 210px;
}
.foot-txtt {
	font-family: DINMedium;
	font-size: 15px;
	text-transform: uppercase;
	color: #FFF;
	width: 186px;
	padding-top: 26px;
	padding-left: 24px;
}
.foot-link {
	font-family: DINMedium;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFF;
	height: 140px;
	width: 186px;
	padding-top: 12px;
	padding-left: 24px;
}
.foot-link a {
	color: #FFF;
}
.foot-boxl {
	background-image: url(../bus_reis_winterberg_images/brabander_winterberg.gif);
	background-repeat: no-repeat;
	background-position: left 34px;
	float: left;
	width: 342px;
}
.foot-social1 {
	padding-top: 14px;
	padding-left: 23px;
}
.foot-social1 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
.foot-social2 {
	padding-top: 6px;
	padding-bottom: 56px;
	padding-left: 23px;
}
.foot-social2 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
#foot-close {
	background-color: #FFF;
	width: 100%;
	min-width: 1002px;
}
#foot-close-wrap {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
.foot-close-logo1 {
	text-align: center;
	width: 985px;
	padding-top: 30px;
	padding-left: 17px;
}
.foot-close-logo1 ul li {
	display: inline;
	padding-right: 17px;
	list-style-type: none;
}
.foot-close-logo1 img {
	vertical-align: middle;
}
.foot-close-txt {
	font-family: DINMedium;
	font-size: 13px;
	line-height: 18px;
	color: #828282;
	text-align: center;
	width: 1002px;
	padding-top: 18px;
	padding-bottom: 36px;
}
