@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
@font-face {
	font-family: 'DINMedium';
	src: url('../bus_reis_winterberg_images/DINMedium.eot');
	src: local('DINMedium'), url('../bus_reis_winterberg_images/DINMedium.woff') format('woff'), url('../bus_reis_winterberg_images/DINMedium.ttf') format('truetype');
}
@font-face {
	font-family: 'DINBold';
	src: url('../bus_reis_winterberg_images/DINBold.eot');
	src: local('../bus_reis_winterberg_images/DINBold'), url('../bus_reis_winterberg_images/DINBold.woff') format('woff'), url('../bus_reis_winterberg_images/DINBold.ttf') format('truetype');
}
a:link, a:visited, a:active {
	text-decoration: none;
}
body {
	background-color: #F7F7F7;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	-webkit-text-size-adjust: none;
}
#onder {
	background-color: #FFF;
	height: 96px;
	width: 100%;
	min-width: 1002px;
}
#wrapper {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
#kopw {
	height: 140px;
	width: 1002px;
}
#kopwl {
	float: left;
	height: 140px;
	width: 854px;
}
#language {
	height: 58px;
	padding-top: 7px;
	padding-left: 23px;
}
#language ul li {
	display: inline;
	padding-left: 3px;
	list-style-type: none;
}
#menu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #3A3A3A;
	height: 69px;
	padding-left: 2px;
}
#menu ul li {
	display: inline-block;
	height: 26px;
	padding-right: 23px;
	padding-left: 23px;
	list-style-type: none;
	*display: inline;
}
#menu ul li:hover {
	border-bottom-width: 14px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
#menu ul li a {
	line-height: 26px;
	color: #3A3A3A;
}
#menu ul li a:hover {
	color: #4DC9FF;
}
#kopwr {
	text-align: left;
	float: left;
	height: 125px;
	width: 148px;
	padding-top: 15px;
}
#sub-banner {
	clear: both;
	float: left;
	width: 1002px;
	margin-top: 20px;
}
#sub-wrap {
	float: left;
	width: 1002px;
	margin-bottom: 70px;
	padding-top: 28px;
}
.sub-content-txtt {
	font-family: DINMedium;
	font-size: 43px;
	color: #4DC9FF;
	width: 949px;
	padding-bottom: 23px;
	padding-left: 53px;
}
.sub-content-txtm {
	font-family: DINMedium;
	font-size: 19px;
	line-height: 25px;
	color: #000;
	width: 896px;
	padding-right: 53px;
	padding-left: 53px;
}
.sub-content-txtm a {
	color: #652D8A;
}
.sub-content-txtm a:hover {
	color: #8D57A5;
}
.sub-content-txtm-br {
	line-height: 12px;
}
.sub-content-txtm-dpur-bo {
	font-family: DINMedium;
	text-transform: uppercase;
	color: #652D8A;
}
.sub-content-txtm-dblu-bo {
	font-family: DINBold;
	text-transform: uppercase;
	color: #002157;
}
.sub-content-txtm-lblu-it {
	font-style: italic;
	color: #4DC9FF;
}
.sub-content-txtm-dblu-bo-lower {
	font-weight: bold;
	color: #002157;
}
.sub-content-txtm ul li {
	margin-left: 30px;
}
.sub-content-txtm p img {
	margin-right: 6px;
}
.sub-content-txtm-app {
	font-family: DINMedium;
	font-size: 19px;
	line-height: 25px;
	color: #000;
	width: 896px;
	padding-right: 53px;
	padding-left: 53px;
}
.sub-content-txtm-app a {
	color: #652D8A;
}
.sub-content-txtm-app a:hover {
	color: #8D57A5;
}
.sub-content-txtm-app-br {
	line-height: 6px;
}
.sub-content-txtm-app-dpur-bo {
	font-family: DINMedium;
	text-transform: uppercase;
	color: #652D8A;
}
.sub-content-txtm-app-dblu-bo {
	font-family: DINBold;
	text-transform: uppercase;
	color: #002157;
}
.sub-content-txtm-app-lblu-it {
	font-style: italic;
	color: #4DC9FF;
}
.sub-content-txtm-app-dblu-bo-lower {
	font-weight: bold;
	color: #002157;
}
.sub-content-txtm-app-ios {
	color: #CCC;
}
.sub-content-txtm-app ul li {
	margin-left: 30px;
}
.sub-content-txtm-app p img {
	margin-top: 6px;
	margin-right: 6px;
}
.sub-content-facebook {
	width: 896px;
	padding-right: 53px;
	padding-left: 53px;
}
.sub-content-facebook-left {
	float: left;
	width: 292px;
	text-align: left;
}
.sub-content-facebook-right {
	float: left;
	width: 292px;
	text-align: left;
	margin-left: 20px;
}
.center {
	text-align: left;
	color: #4DC9FF;
}

.sub-voor-wrap {
	width: 1002px;
}
.sub-voor-left {
	font-family: DINMedium;
	font-size: 19px;
	line-height: 25px;
	color: #000;
	float: left;
	width: 320px;
	padding-left: 53px;
}
.sub-voor-left a {
	color: #652D8A;
}
.sub-voor-left a:hover {
	color: #8D57A5;
}
.sub-voor-left p img {
	margin-right: 6px;
}
.sub-voor-right {
	font-family: DINMedium;
	font-size: 19px;
	line-height: 25px;
	color: #000;
	float: left;
	width: 373px;
}
#sub-info {
	float: left;
	width: 896px;
	padding-right: 53px;
	padding-left: 53px;
}
#sub-info-wrap {
	float: left;
	width: 896px;
}
#sub-info-box1 {
	float: left;
	width: 441px;
}
.info-box1-row1 {
	font-family: DINMedium;
	font-size: 16px;
	line-height: 22px;
	color: #000;
	padding: 13px;
	width: 413px;
	margin-bottom: 14px;
	border: 1px solid #373737;
}
.info-box1-row1 a {
	color: #652D8A;
}
.info-box1-row1 a:hover {
	color: #8D57A5;
}
.info-box1-row2 {
	padding: 13px;
	width: 413px;
	margin-bottom: 14px;
	border: 1px solid #373737;
}
.info-box1-row3 {
	padding: 13px;
	width: 413px;
	border: 1px solid #373737;
}
#sub-info-box2 {
	float: right;
	width: 441px;
}
.info-box2-row1 {
	float: left;
	width: 426px;
	margin-bottom: 14px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 13px;
	border: 1px solid #373737;
}
.info-box2-row1-left {
	float: left;
	width: 142px;
}
.ib21-left1 {
	font-family: DINMedium;
	font-size: 15px;
	line-height: 30px;
	color: #652D8A;
	height: 74px;
	width: 142px;
}
.info-box2-row1-title {
	font-family: DINMedium;
	font-size: 14px;
	text-transform: uppercase;
}
.ib21-left1 img {
	margin-right: 7px;
}
.ib21-left2 {
	font-family: DINMedium;
	font-size: 15px;
	line-height: 30px;
	color: #652D8A;
	height: 105px;
	width: 142px;
}
.ib21-left2 img {
	margin-right: 7px;
}
.ib21-left3 {
	font-family: DINMedium;
	font-size: 15px;
	line-height: 30px;
	color: #652D8A;
	width: 142px;
}
.ib21-left3 img {
	margin-right: 7px;
}
.info-box2-row1-mid {
	float: left;
	width: 142px;
}
.ib21-mid1 {
	font-family: DINMedium;
	font-size: 15px;
	line-height: 30px;
	color: #652D8A;
	height: 74px;
	width: 142px;
}
.ib21-mid1 img {
	margin-right: 7px;
}
.ib21-mid2 {
	font-family: DINMedium;
	font-size: 15px;
	line-height: 30px;
	color: #652D8A;
	height: 105px;
	width: 142px;
}
.ib21-mid2 img {
	margin-right: 7px;
}
.ib21-mid3 {
	font-family: DINMedium;
	font-size: 15px;
	line-height: 30px;
	color: #652D8A;
	width: 142px;
}
.ib21-mid3 img {
	margin-right: 7px;
}
.info-box2-row1-right {
	float: left;
	width: 142px;
}
.ib21-right1 {
	font-family: DINMedium;
	font-size: 15px;
	line-height: 30px;
	color: #652D8A;
	height: 74px;
	width: 142px;
}
.ib21-right1 img {
	margin-right: 7px;
}
.ib21-right2 {
	font-family: DINMedium;
	font-size: 15px;
	line-height: 30px;
	color: #652D8A;
	height: 105px;
	width: 142px;
}
.ib21-right2 img {
	margin-right: 7px;
}
.ib21-right3 {
	font-family: DINMedium;
	font-size: 15px;
	line-height: 30px;
	color: #652D8A;
	width: 142px;
}
.ib21-right3 img {
	margin-right: 7px;
}
.info-box2-row2 {
	float: left;
	width: 426px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 13px;
	border: 1px solid #373737;
}
.info-box2-row2-left {
	font-family: DINMedium;
	font-size: 14px;
	line-height: 30px;
	color: #000;
	float: left;
	width: 161px;
}
.info-box2-row2-right {
	font-family: DINMedium;
	font-size: 14px;
	line-height: 30px;
	color: #000;
	float: left;
	width: 265px;
}
.info-box2-row2-right img {
	margin-right: 2px;
}
.sub-content-button {
	float: left;
	width: 949px;
	padding-top: 20px;
	padding-left: 53px;
}
.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #FF8000;
	text-align: center;
	display: inline-block;
	height: 41px;
	padding-right: 36px;
	padding-left: 36px;
	border: 2px solid #FF8000;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-appearance: none;
}
#foot-border {
	background-color: #54548E;
	clear: both;
	height: 6px;
	width: 100%;
	min-width: 1002px;
}
#foot {
	background-color: #000;
	width: 100%;
	min-width: 1002px;
}
#foot-wrap {
	height: 220px;
	width: 972px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
}
.foot-boxs {
	background-image: url(../bus_reis_winterberg_images/brabander_winterberg.gif);
	background-repeat: no-repeat;
	background-position: left 34px;
	float: left;
	width: 210px;
}
.foot-txtt {
	font-family: DINMedium;
	font-size: 15px;
	text-transform: uppercase;
	color: #FFF;
	width: 186px;
	padding-top: 26px;
	padding-left: 24px;
}
.foot-link {
	font-family: DINMedium;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFF;
	height: 140px;
	width: 186px;
	padding-top: 12px;
	padding-left: 24px;
}
.foot-link a {
	color: #FFF;
}
.foot-boxl {
	background-image: url(../bus_reis_winterberg_images/brabander_winterberg.gif);
	background-repeat: no-repeat;
	background-position: left 34px;
	float: left;
	width: 342px;
}
.foot-social1 {
	padding-top: 14px;
	padding-left: 23px;
}
.foot-social1 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
.foot-social2 {
	padding-top: 6px;
	padding-bottom: 56px;
	padding-left: 23px;
}
.foot-social2 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
#foot-close {
	background-color: #FFF;
	width: 100%;
	min-width: 1002px;
}
#foot-close-wrap {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
.foot-close-logo1 {
	text-align: center;
	width: 985px;
	padding-top: 30px;
	padding-left: 17px;
}
.foot-close-logo1 ul li {
	display: inline;
	padding-right: 17px;
	list-style-type: none;
}
.foot-close-logo1 img {
	vertical-align: middle;
}
.foot-close-txt {
	font-family: DINMedium;
	font-size: 13px;
	line-height: 18px;
	color: #828282;
	text-align: center;
	width: 1002px;
	padding-top: 18px;
	padding-bottom: 36px;
}
.br12 {
	line-height: 12px;
}
.mid {
	text-align: center;
}

.form-option1 {
	float: left;
	margin-top: 14px;
	text-align: center;
	width: 482px;
}
.text-input1 {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 34px;
	color: #000;
	width: 482px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 7px;
	border: 1px solid #D7D7D7;
	font-size: 15px;
	margin-bottom: 6px;
}
