@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
@font-face {
	font-family: 'DINMedium';
	src: url('../bus_reis_winterberg_images/DINMedium.eot');
	src: local('DINMedium'), url('../bus_reis_winterberg_images/DINMedium.woff') format('woff'), url('../bus_reis_winterberg_images/DINMedium.ttf') format('truetype');
}
@font-face {
	font-family: 'DINBold';
	src: url('../bus_reis_winterberg_images/DINBold.eot');
	src: local('../bus_reis_winterberg_images/DINBold'), url('../bus_reis_winterberg_images/DINBold.woff') format('woff'), url('../bus_reis_winterberg_images/DINBold.ttf') format('truetype');
}
a:link, a:visited, a:active {
	text-decoration: none;
}
body {
	background-image: url(../bus_reis_winterberg_images/ski_school_reis_reizen_wintersport_schoolreis_winterberg_schoolreizen_schoolkamp_skikamp_skien_kinderen_studenten.png);
	background-repeat: no-repeat;
	background-position: center 56px;
	background-color: #F7F7F7;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	-webkit-text-size-adjust: none;
}
#onder {
	background-color: #FFF;
	height: 96px;
	width: 100%;
	min-width: 1002px;
}
#wrapper {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
#kopw {
	height: 140px;
	width: 1002px;
}
#kopwl {
	float: left;
	height: 140px;
	width: 854px;
}
#language {
	height: 58px;
	padding-top: 7px;
	padding-left: 23px;
}
#language ul li {
	display: inline;
	padding-left: 3px;
	list-style-type: none;
}
#menu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #3A3A3A;
	height: 69px;
	padding-left: 2px;
}
#menu ul li {
	display: inline-block;
	height: 26px;
	padding-right: 23px;
	padding-left: 23px;
	list-style-type: none;
	*display: inline;
}
#menu ul li:hover {
	border-bottom-width: 14px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
#menu ul li a {
	line-height: 26px;
	color: #3A3A3A;
}
#menu ul li a:hover {
	color: #4DC9FF;
}
#kopwr {
	text-align: left;
	float: left;
	height: 125px;
	width: 148px;
	padding-top: 15px;
}
#school-wrap {
	clear: both;
	float: left;
	width: 1002px;
	margin-bottom: 80px;
}
#school-title {
	height: 245px;
	width: 1002px;
	padding-top: 35px;
}
.museo900 {
	font-family: Museo-900;
	font-size: 36px;
	line-height: 46px;
	color: #FFF;
}
.museo100 {
	font-family: museo100;
	font-size: 61px;
	line-height: 60px;
	text-transform: uppercase;
	color: #FFF;
}
.pur1 {
	color: #92278F;
}
#school-intro {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #000;
	width: 1002px;
}
#school-open-wrap {
	height: 394px;
	width: 943px;
}
#school-content-wrap {
	width: 943px;
}
#school-content-box1 {
	float: left;
	width: 494px;
}
.school-content-box1-txtt {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #4DC9FF;
	width: 494px;
	padding-bottom: 10px;
}
.school-content-box1-txtm {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #000;
	width: 464px;
	padding-right: 30px;
}
.school-content-box1-txtm a {
	font-style: italic;
	font-weight: bold;
	color: #652D8A;
}
.school-content-box1-txtm a:hover {
	color: #8D57A5;
}
.ib {
	font-style: italic;
	font-weight: bold;
}
.school-content-box1-button {
	width: 494px;
	padding-top: 20px;
}
.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #FF8000;
	text-align: center;
	display: inline-block;
	height: 41px;
	padding-right: 36px;
	padding-left: 36px;
	border: 2px solid #FF8000;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-appearance: none;
}
#school-content-box2 {
	float: left;
	width: 259px;
}
.school-content-box2-txtt {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #4DC9FF;
	width: 259px;
	padding-bottom: 10px;
}
.school-content-box2-talk-bg {
	background-color: #E0E0E0;
	padding: 15px;
	height: 130px;
	width: 229px;
}
.school-content-box2-talk-txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #616161;
	height: 130px;
	width: 229px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.school-content-box2-talk-txt a {
	color: #4DC9FF;
}
.blu-bo {
	font-weight: bold;
	color: #4DC9FF;
}
.school-content-box2-talk-bot {
	background-image: url(../bus_reis_winterberg_images/dagje_winterberg_basisschool_middelbare_school_hogeschool_basisonderwijs_voortgezet_onderwijs_mbo_hbo_wintersport.png);
	background-repeat: no-repeat;
	background-position: left;
	height: 82px;
}
#school-content-box3 {
	float: left;
	width: 190px;
}
.school-content-box3-txtt {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #4DC9FF;
	text-align: right;
	width: 190px;
	padding-bottom: 9px;
}
.school-link {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #616161;
	text-align: right;
}
.school-link ul li {
	display: block;
	list-style-type: none;
}
.school-link ul li a {
	line-height: 16px;
	color: #616161;
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
}
.school-link ul li a:hover {
	color: #4DC9FF;
}
#foot-border {
	background-color: #54548E;
	clear: both;
	height: 6px;
	width: 100%;
	min-width: 1002px;
}
#foot {
	background-color: #000;
	width: 100%;
	min-width: 1002px;
}
#foot-wrap {
	height: 220px;
	width: 972px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
}
.foot-boxs {
	background-image: url(../bus_reis_winterberg_images/brabander_winterberg.gif);
	background-repeat: no-repeat;
	background-position: left 34px;
	float: left;
	width: 210px;
}
.foot-txtt {
	font-family: DINMedium;
	font-size: 15px;
	text-transform: uppercase;
	color: #FFF;
	width: 186px;
	padding-top: 26px;
	padding-left: 24px;
}
.foot-link {
	font-family: DINMedium;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFF;
	height: 140px;
	width: 186px;
	padding-top: 12px;
	padding-left: 24px;
}
.foot-link a {
	color: #FFF;
}
.foot-boxl {
	background-image: url(../bus_reis_winterberg_images/brabander_winterberg.gif);
	background-repeat: no-repeat;
	background-position: left 34px;
	float: left;
	width: 342px;
}
.foot-social1 {
	padding-top: 14px;
	padding-left: 23px;
}
.foot-social1 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
.foot-social2 {
	padding-top: 6px;
	padding-bottom: 56px;
	padding-left: 23px;
}
.foot-social2 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
#foot-close {
	background-color: #FFF;
	width: 100%;
	min-width: 1002px;
}
#foot-close-wrap {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
.foot-close-logo1 {
	text-align: center;
	width: 985px;
	padding-top: 30px;
	padding-left: 17px;
}
.foot-close-logo1 ul li {
	display: inline;
	padding-right: 17px;
	list-style-type: none;
}
.foot-close-logo1 img {
	vertical-align: middle;
}
.foot-close-txt {
	font-family: DINMedium;
	font-size: 13px;
	line-height: 18px;
	color: #828282;
	text-align: center;
	width: 1002px;
	padding-top: 18px;
	padding-bottom: 36px;
}
