@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
@font-face {
	font-family: 'DINMedium';
	src: url('../bus_reis_winterberg_images/DINMedium.eot');
	src: local('DINMedium'), url('../bus_reis_winterberg_images/DINMedium.woff') format('woff'), url('../bus_reis_winterberg_images/DINMedium.ttf') format('truetype');
}
@font-face {
	font-family: 'DINBold';
	src: url('../bus_reis_winterberg_images/DINBold.eot');
	src: local('../bus_reis_winterberg_images/DINBold'), url('../bus_reis_winterberg_images/DINBold.woff') format('woff'), url('../bus_reis_winterberg_images/DINBold.ttf') format('truetype');
}
a:link, a:visited, a:active {
	text-decoration: none;
}
body {
	font-family: "Open Sans", sans-serif;
	background-image: url(../winterfest_bus_reis_winterberg_images/background.png);
	background-attachment: fixed;
	background-color: #F7F7F7;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	-webkit-text-size-adjust: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
}
#onder {
	background-color: #FFF;
	width: 100%;
	min-width: 1202px;
	height: 76px;
}
#wrapper {
	width: 1202px;
	margin-right: auto;
	margin-left: auto;
}
#kopw {
	width: 1202px;
}
#kopwl {
	float: left;
	width: 1054px;
}
#excl {
	height: 31px;
	padding-top: 14px;
	padding-left: 23px;
	font-size: 16px;
	text-transform: uppercase;
	color: #4DC9FF;
}
#menu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	height: 49px;
	padding-left: 2px;
	text-align: right;
	font-style: italic;
}
#menu ul li {
	display: inline-block;
	height: 26px;
	padding-right: 23px;
	padding-left: 23px;
	list-style-type: none;
	*display: inline;
}
#menu ul li:hover {
	border-bottom-width: 14px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	color: #4DC9FF;
}
#menu ul li a {
	line-height: 26px;
	color: #000;
}
#menu ul li a:hover {
	color: #4DC9FF;
}
#kopwr {
	text-align: left;
	float: left;
	height: 125px;
	width: 148px;
	padding-top: 15px;
}
#kopwr-front {
	text-align: right;
	float: left;
	width: 115px;
	padding-top: 45px;
	padding-right: 33px;
}
#kopwr-front ul li {
	display: inline;
	padding-left: 3px;
	list-style-type: none;
}
#home-bg {
	width: 1106px;
	margin-top: 20px;
	margin-bottom: 40px;
	background-color: #FFF;
	padding: 48px;
	clear: both;
	float: left;
}
#home-top-txt {
	text-align: center;
	width: 1106px;
	margin-bottom: 24px;
}

#home-top-txt:before {
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
#home-top-txt .inner {
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	width: 1104px;
	padding-top: 14px;
	padding-bottom: 14px;
	border: 1px dashed #000;
}
#home-top-txt .inner a {
	font-weight: 600;
	color: #4DC9FF;
}
.gold {
	color: #D4AF37;
}

#home-row1 {
	width: 1106px;
	float: left;
	margin-bottom: 24px;
}
.home-wbox1 {
	background-repeat: no-repeat;
	width: 396px;
	height: 396px;
	float: left;
	margin-right: 24px;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	background-image: url(../winterfest_bus_reis_winterberg_images/groepen_winterberg_scholen_groepsreizen_winterbergen_schoolreizen_groepsreis_sauerland_schoolreis_lustrum_werkweek_incentive_reis.png);
}
.home-wbox2 {
	background-repeat: no-repeat;
	width: 686px;
	height: 396px;
	float: left;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
}
.introtext {
	width: 676px;
	color: #000;
	font-size: 21px;
	font-weight: 200;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 18px;
}
.br {
	line-height: 12px;
}
.introtext-title {
	font-size: 26px;
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
}


.home-box-overlay {
	background-color: #000;
	height: 45px;
	width: 216px;
	position: relative;
}
.home-box-overlay .inner {
	font-family: DINMedium;
	font-size: 18px;
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	width: 216px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	font-style: italic;
}
#home-wrow2 {
	width: 1106px;
	float: left;
	margin-bottom: 24px;
}
.home-wbox3 {
	width: 396px;
	height: 217px;
	float: left;
	margin-right: 24px;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
}
.home-wbox4 {
	background-repeat: no-repeat;
	width: 684px;
	height: 195px;
	float: left;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	border: 1px dashed #000;
	padding-top: 20px;
}


.home-wbox4:before {
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
.home-wbox4 .inner {
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	width: 644px;
	padding-right: 20px;
	padding-left: 20px;
}
.home-wbox4 .inner a {
	font-weight: 600;
	color: #4DC9FF;
}
.font24 {
	font-size: 24px;
}
#home-wrow3 {
	width: 1106px;
	margin-bottom: 24px;
	float: left;
}
.home-box5 {
	text-align: center;
	width: 396px;
	float: left;
	margin-right: 24px;
	height: 1500px;
}
.home-wbox6 {
	background-repeat: no-repeat;
	width: 686px;
	height: 396px;
	float: left;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
}
.form-title {
	width: 676px;
	color: #000;
	font-size: 26px;
	font-weight: bold;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 18px;
	font-style: italic;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.box-title {
	width: 681px;
	font-family: DINMedium;
	font-size: 16px;
	line-height: 22px;
	text-transform: none;
	color: #000;
	float: left;
	font-weight: bold;
	padding-left: 5px;
}
.boxtitlepad {
	margin-left: 3px;
}


.form-option1 {
	float: left;
	width: 681px;
	padding-left: 5px;
	margin-top: 4px;
	margin-bottom: 10px;
}
	
.form-option2 {
	float: left;
	margin-top: 14px;
	width: 482px;
	text-align: right;
	border: 1px dashed #000;
}

.text-input1 {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 34px;
	color: #000;
	width: 209px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 7px;
	border: 1px solid #D7D7D7;
	font-size: 15px;
	margin-bottom: 6px;
}
.text-input2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	padding: 11px;
	width: 458px;
	border: 1px solid #D7D7D7;
	font-size: 15px;
	margin-bottom: 6px;
}
.text-input3 {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	padding: 11px;
	width: 458px;
	border: 1px solid #D7D7D7;
	font-size: 15px;
	margin-top: 3px;
	margin-bottom: 6px;
}
.subtextprice {
	font-family: 'Shadows Into Light Two', cursive;
	margin-left: 8px;
	font-size: 17px;
}

#deelnemers-sub {
	font-family: DINMedium;
	font-size: 13px;
	font-weight: bold;
}
.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	background-color: #4DC9FF;
	text-align: center;
	display: inline-block;
	height: 41px;
	padding-right: 36px;
	padding-left: 36px;
	border: 2px solid #4DC9FF;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-appearance: none;
	margin-top: 14px;
	font-weight: bold;
	color: #FFF;
}
.home-box6 {
	width: 686px;
	float: left;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
}
.home-box7 {
	width: 216px;
	height: 216px;
	float: left;	
	margin-right: 24px;
}

.home-box8 {
	background-image: url(../bus_reis_winterberg_images/groepen_winterberg_scholen_groepsreizen_winterbergen_schoolreizen_groepsreis_sauerland_schoolreis_lustrum_werkweek_incentive_reis.png);
	background-repeat: no-repeat;
	width: 216px;
	height: 216px;
	float: left;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
}

#home-row3 {
	float: left;
	width: 936px;
	margin-bottom: 24px;
}
#home-row3 a {
	color: #FFF;
}

.home-box9 {
	width: 216px;
	margin-right: 24px;
	float: left;
	height: 216px;
	background-color: #000;
}
.home-box10 {
	width: 216px;
	margin-right: 24px;
	float: left;
	height: 216px;
}
.home-box11 {
	width: 216px;
	margin-right: 24px;
	float: left;
	height: 216px;
}
.home-box12 {
	background-image: url(../bus_reis_winterberg_images/bedrijfsuitje_winterberg_personeelsuitje.png);
	background-repeat: no-repeat;
	width: 216px;
	height: 216px;
	float: left;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
}
.home-box12-overlay {
	font-family: DINMedium;
	font-size: 18px;
	background-image: url(../bus_reis_winterberg_images/sneeuw.png);
	background-repeat: no-repeat;
	text-transform: uppercase;
	color: #FFF;
	height: 36px;
	width: 216px;
	padding-top: 12px;
	text-align: center;
}
#home-row4 {
	float: left;
	width: 936px;
	margin-bottom: 24px;
}
#home-row4 a {
	color: #FFF;
}

.home-box13 {
	width: 216px;
	margin-right: 24px;
	float: left;
	height: 216px;
}
.home-box14 {
	background-image: url(../bus_reis_winterberg_images/kaart_skigebied_winterberg_skiplan_skimap_map_winterbergen.png);
	background-repeat: no-repeat;
	width: 216px;
	height: 216px;
	float: left;
	margin-right: 24px;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
}
.home-box14-overlay {
	font-family: DINMedium;
	font-size: 18px;
	background-image: url(../bus_reis_winterberg_images/sneeuw.png);
	background-repeat: no-repeat;
	text-transform: uppercase;
	color: #FFF;
	height: 36px;
	width: 216px;
	padding-top: 12px;
	text-align: center;
}
.home-box15 {
	background-repeat: no-repeat;
	width: 216px;
	height: 216px;
	float: left;
	margin-right: 24px;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
}
.home-box15-overlay {
	font-family: DINMedium;
	font-size: 18px;
	background-image: url(../bus_reis_winterberg_images/sneeuw.png);
	background-repeat: no-repeat;
	text-transform: uppercase;
	color: #FFF;
	height: 36px;
	width: 216px;
	padding-top: 12px;
	text-align: center;
}
.home-box16 {
	background-repeat: no-repeat;
	width: 216px;
	height: 216px;
	float: left;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
}
.home-box16-overlay {
	font-family: DINMedium;
	font-size: 18px;
	background-image: url(../bus_reis_winterberg_images/sneeuw.png);
	background-repeat: no-repeat;
	text-transform: uppercase;
	color: #FFF;
	height: 36px;
	width: 216px;
	padding-top: 12px;
	text-align: center;
}
#home-row5 {
	float: left;
	width: 936px;
	margin-bottom: 24px;
}
.home-box17 {
	width: 216px;
	margin-right: 24px;
	float: left;
}
.home-box18 {
	width: 216px;
	margin-right: 24px;
	float: left;
}
.home-box19 {
	width: 216px;
	margin-right: 24px;
	float: left;
}
.home-box20 {
	width: 216px;
	float: left;
}

#weer-wrap {
	float: left;
	width: 922px;
}
#weer-top {
	float: left;
	width: 922px;
}
.weer-title {
	font-family: DINMedium;
	font-size: 39px;
	font-weight: 400;
	text-transform: uppercase;
	color: #002157;
	float: left;
	height: 70px;
	width: 492px;
}
div.weer-alert {
	background-image: url(../bus_reis_winterberg_images/winterberg_weerbericht_winterbergen_sauerland.png);
	background-repeat: no-repeat;
	background-position: 0px 50%;
	float: right;
	height: 70px;
	width: 416px;
}
div.weer-alert:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-alert div.inner {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	display: inline-block;
	padding-left: 42px;
}
#weer-content {
	float: left;
	width: 922px;
}
#weer-box1 {
	float: left;
	width: 492px;
}
div.weer-box1-row1 {
	background-color: #C3C3C3;
	float: left;
	height: 95px;
	width: 481px;
	margin-bottom: 14px;
	padding-left: 11px;
}
div.weer-box1-row1:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-box1-row1 div.inner {
	font-family: DINMedium;
	text-transform: uppercase;
	color: #1D1D1D;
	vertical-align: middle;
	display: inline-block;
}
div.weer-box1-row1 h2 {
	font-size: 26px;
}
div.weer-box1-row1 small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.weer-box1-row-other {
	background-color: #1D1D1D;
	float: left;
	height: 126px;
	width: 492px;
	margin-bottom: 14px;
}
div.weer-box1-row2-left {
	background-image: url(../bus_reis_winterberg_images/sneeuw_winterberg_sauerland_duitsland.png);
	background-repeat: no-repeat;
	background-position: 25px 24px;
	float: left;
	height: 126px;
	width: 156px;
	padding-left: 90px;
}
div.weer-box1-row2-left:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-box1-row2-left div.inner {
	font-family: DINMedium;
	font-size: 15px;
	color: #4DC9FF;
	vertical-align: middle;
	display: inline-block;
}
.weer-box1-info-br {
	line-height: 10px;
}
.weer-box1-info {
	font-size: 28px;
	line-height: 20px;
	font-weight: bold;
	color: #FFF;
}
div.weer-box1-row2-right {
	background-image: url(../bus_reis_winterberg_images/sneeuwhoogte_winterberg_sauerland_duitsland.png);
	background-repeat: no-repeat;
	background-position: 14px 24px;
	float: right;
	height: 126px;
	width: 181px;
	padding-left: 65px;
}
div.weer-box1-row2-right:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-box1-row2-right div.inner {
	font-family: DINMedium;
	font-size: 15px;
	color: #4DC9FF;
	vertical-align: middle;
	display: inline-block;
}
div.weer-box1-row3-left {
	background-image: url(../bus_reis_winterberg_images/sneeuw_winterberg_sauerland_duitsland.png);
	background-repeat: no-repeat;
	background-position: 25px 24px;
	float: left;
	height: 126px;
	width: 156px;
	padding-left: 90px;
}
div.weer-box1-row3-left:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-box1-row3-left div.inner {
	font-family: DINMedium;
	font-size: 15px;
	color: #4DC9FF;
	vertical-align: middle;
	display: inline-block;
}
div.weer-box1-row3-right {
	background-image: url(../bus_reis_winterberg_images/winterberg_sneeuw_winterbergen.png);
	background-repeat: no-repeat;
	background-position: 18px 24px;
	float: right;
	height: 126px;
	width: 181px;
	padding-left: 65px;
}
div.weer-box1-row3-right:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-box1-row3-right div.inner {
	font-family: DINMedium;
	font-size: 15px;
	color: #4DC9FF;
	vertical-align: middle;
	display: inline-block;
}
div.weer-box1-row4-left {
	background-image: url(../bus_reis_winterberg_images/weer_winterbergen_sneeuw_skiliften.png);
	background-repeat: no-repeat;
	background-position: 32px 20px;
	float: left;
	height: 126px;
	width: 156px;
	padding-left: 90px;
}
div.weer-box1-row4-left:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-box1-row4-left div.inner {
	font-family: DINMedium;
	font-size: 15px;
	color: #4DC9FF;
	vertical-align: middle;
	display: inline-block;
}
div.weer-box1-row4-right {
	background-image: url(../bus_reis_winterberg_images/langlaufen_winterberg_loipen_winterbergen_loipes.png);
	background-repeat: no-repeat;
	background-position: 13px 24px;
	float: right;
	height: 126px;
	width: 181px;
	padding-left: 65px;
}
div.weer-box1-row4-right:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-box1-row4-right div.inner {
	font-family: DINMedium;
	font-size: 15px;
	color: #4DC9FF;
	vertical-align: middle;
	display: inline-block;
}
#weer-box2 {
	float: right;
	width: 416px;
}
.weer-box2-row1 {
	float: left;
	width: 416px;
	margin-bottom: 14px;
}
.weer-icon1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	float: left;
	height: 60px;
	width: 104px;
	padding-top: 35px;
}
.weer-icon1:hover {
	background-color: #FF8000;
	height: 60px;
	width: 104px;
}
.weer-icon1 ul li {
	margin-bottom: 3px;
	list-style-type: none;
}
.weer-icon1 a {
	color: #000;
}
.weer-icon2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	float: left;
	height: 60px;
	width: 104px;
	padding-top: 35px;
}
.weer-icon2:hover {
	background-color: #FF8000;
	height: 60px;
	width: 104px;
}
.weer-icon2 ul li {
	margin-bottom: 3px;
	list-style-type: none;
}
.weer-icon2 a {
	color: #000;
}
.weer-icon3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	float: left;
	height: 60px;
	width: 104px;
	padding-top: 35px;
}
.weer-icon3:hover {
	background-color: #FF8000;
	height: 60px;
	width: 104px;
}
.weer-icon3 ul li {
	margin-bottom: 3px;
	list-style-type: none;
}
.weer-icon3 a {
	color: #000;
}
.weer-icon4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	float: left;
	height: 60px;
	width: 104px;
	padding-top: 35px;
}
.weer-icon4:hover {
	background-color: #FF8000;
	height: 60px;
	width: 104px;
}
.weer-icon4 ul li {
	margin-bottom: 3px;
	list-style-type: none;
}
.weer-icon4 a {
	color: #000;
}
div.weer-box2-row2 {
	background-color: #4DC9FF;
	float: left;
	height: 126px;
	width: 405px;
	margin-bottom: 14px;
	padding-left: 11px;
}
div.weer-box2-row2:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
div.weer-box2-row2 div.inner {
	font-family: DINMedium;
	font-size: 22px;
	line-height: 26px;
	text-transform: uppercase;
	color: #FFF;
	vertical-align: middle;
	display: inline-block;
}
.weer-box2-row2 a {
	color: #000;
}
.weer-box2-row2 a:hover {
	color: #FFF;
}
.weer-box2-row3 {
	float: left;
	width: 416px;
	margin-bottom: 14px;
}
#foot-border {
	background-color: #54548E;
	clear: both;
	height: 6px;
	width: 100%;
	min-width: 1002px;
}

#foot {
	background-color: #D8D8D8;
	clear: both;
	width: 100%;
	min-width: 1135px;
}
#foot-wrap {
	height: 268px;
	width: 1012px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 123px;
}
.foot-box {
	float: left;
	width: 222px;
}
.foot-box-txtt {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	padding-top: 22px;
}
.foot-box-link {
	font-size: 11px;
	line-height: 21px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	padding-top: 12px;
}
.foot-box-link a {
	color: #000;
}
.foot-box-link a:hover {
	text-decoration: underline;
}
.foot-box-social {
	padding-top: 14px;
}
.foot-box-social ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
.foot-box-pay {
	line-height: 10px;
	padding-top: 14px;
}
.foot-box-pay ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
#hotel-duitsland-hotels {
	width: 100%;
	min-width: 1135px;
	background-color: #FFF;
}
#hotel-sauerland-hotels {
	width: 1135px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
}
.hotel-winterberg-hotels {
	font-size: 12px;
	line-height: 18px;
	font-weight: 600;
	color: #000;
	text-align: center;
	width: 1135px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #FFF;
}
