@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
@font-face {
	font-family: 'DINMedium';
	src: url('../dagje_winterberg_dagtrip_slangen_font/DINMedium.eot');
	src: local('DINMedium'), url('../dagje_winterberg_dagtrip_slangen_font/DINMedium.woff') format('woff'), url('../dagje_winterberg_dagtrip_slangen_font/DINMedium.ttf') format('truetype');
}
a:link, a:visited, a:active {
	text-decoration: none;
}
body {
	background-color: #F7F7F7;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	-webkit-text-size-adjust: none;
}
#onder {
	background-color: #FFF;
	height: 96px;
	width: 100%;
	min-width: 1002px;
}
#wrapper {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
#kopw {
	height: 140px;
	width: 1002px;
}
#kopwl {
	float: left;
	height: 140px;
	width: 854px;
}
#language {
	height: 58px;
	padding-top: 7px;
	padding-left: 23px;
}
#language ul li {
	display: inline;
	padding-left: 3px;
	list-style-type: none;
}
#menu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #3A3A3A;
	height: 69px;
	padding-left: 2px;
}
#menu ul li {
	display: inline-block;
	height: 26px;
	padding-right: 23px;
	padding-left: 23px;
	list-style-type: none;
	*display: inline;
}
#menu ul li:hover {
	border-bottom-width: 14px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
#menu ul li a {
	line-height: 26px;
	color: #3A3A3A;
}
#menu ul li a:hover {
	color: #4DC9FF;
}
#kopwr {
	text-align: left;
	float: left;
	height: 125px;
	width: 148px;
	padding-top: 15px;
}
#time-menu-wrap {
	clear: both;
	float: left;
	width: 1002px;
	margin-top: 20px;
	margin-bottom: 70px;
}
#time-menu-banner {
	height: 246px;
	width: 1002px;
}
#time-menu-title {
	font-family: DINMedium;
	font-size: 41px;
	color: #4DC9FF;
	width: 950px;
	padding-top: 28px;
	padding-bottom: 23px;
	padding-left: 52px;
}
#time-menu-info {
	width: 898px;
	padding-right: 52px;
	padding-left: 52px;
}
#time-menu-info-row1 {
	float: left;
	width: 898px;
	margin-bottom: 28px;
}
.row1-box1 {
	float: left;
	width: 427px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 13px;
	border: 1px solid #373737;
}
.row1-box1-left {
	font-family: DINMedium;
	font-size: 15px;
	line-height: 30px;
	color: #000;
	float: left;
	width: 133px;
	font-weight: bold;
}
.row1-box1-right {
	font-family: DINMedium;
	font-size: 15px;
	line-height: 30px;
	color: #000;
	float: left;
	width: 293px;
}
#time-menu-info-row2 {
	font-family: DINMedium;
	float: left;
	width: 858px;
	margin-bottom: 28px;
	border: 1px solid #373737;
	padding-top: 28px;
	padding-right: 19px;
	padding-bottom: 28px;
	padding-left: 19px;
}
.row2-box1 {
	float: left;
	width: 286px;
}
.row2-box-title {
	font-size: 36px;
	color: #4DC9FF;
	width: 286px;
}
.row2-box-stad {
	font-size: 15px;
	line-height: 25px;
	width: 286px;
	margin-bottom: 12px;
}
.row2-box-stad a {
	color: #000;
}
.row2-box-stad a:hover {
	color: #999;
}
.row2-box-stadcl {
	font-size: 16px;
	line-height: 24px;
	width: 286px;
}
.row2-box-stadcl a {
	color: #000;
}
.row2-box-stadcl a:hover {
	color: #999;
}
.row2-box-stad img {
	margin-right: 6px;
}

.row2-box2 {
	float: left;
	width: 286px;
}
.row2-box3 {
	float: left;
	width: 286px;
}
#foot-border {
	background-color: #54548E;
	clear: both;
	height: 6px;
	width: 100%;
	min-width: 1002px;
}
#foot {
	background-color: #000;
	width: 100%;
	min-width: 1002px;
}
#foot-wrap {
	height: 242px;
	width: 972px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
}
.foot-boxs {
	background-image: url(../bus_reis_winterberg_images/midweek_brabander_winterberg.png);
	background-repeat: no-repeat;
	background-position: left 34px;
	float: left;
	width: 210px;
}
.foot-txtt {
	font-family: DINMedium;
	font-size: 15px;
	text-transform: uppercase;
	color: #FFF;
	width: 186px;
	padding-top: 26px;
	padding-left: 24px;
}
.foot-link {
	font-family: DINMedium;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFF;
	height: 164px;
	width: 186px;
	padding-top: 12px;
	padding-left: 24px;
}
.foot-link a {
	color: #FFF;
}
.foot-boxl {
	background-image: url(../bus_reis_winterberg_images/midweek_brabander_winterberg.png);
	background-repeat: no-repeat;
	background-position: left 34px;
	float: left;
	width: 342px;
}
.foot-social1 {
	padding-top: 14px;
	padding-left: 23px;
}
.foot-social1 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
.foot-social2 {
	padding-top: 6px;
	padding-bottom: 56px;
	padding-left: 23px;
}
.foot-social2 ul li {
	display: inline;
	padding-right: 6px;
	list-style-type: none;
}
#foot-close {
	background-color: #FFF;
	width: 100%;
	min-width: 1002px;
}
#foot-close-wrap {
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
}
.foot-close-logo1 {
	text-align: center;
	width: 985px;
	padding-top: 30px;
	padding-left: 17px;
}
.foot-close-logo1 ul li {
	display: inline;
	padding-right: 17px;
	list-style-type: none;
}
.foot-close-logo1 img {
	vertical-align: middle;
}
.foot-close-txt {
	font-family: DINMedium;
	font-size: 13px;
	line-height: 18px;
	color: #828282;
	text-align: center;
	width: 1002px;
	padding-top: 18px;
	padding-bottom: 36px;
}
