@charset "utf-8";
/* CSS Document */

.home-box3-module-1 {
	font-family: 'PT Sans', sans-serif;
	float: left;
	height: 255px;
	width: 255px;
	margin-right: 24px;
}
.home-box3-overlay {
	height: 43px;
	width: 253px;
	border: 1px dashed #000;
	position: relative;
}
.home-box3-overlay .inner {
	font-family: DINMedium;
	font-size: 18px;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	width: 253px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}
